$large-text: 18px;

$orange: #ff8565;
$orange-light: #FBEDE9;
$orange-dark: #E75935;
$teal: #24D2AB;
$teal-light: #EEF7F5;
$teal-dark: #15A686;
$light-grey: #F2F5F7;
$dark-grey: #72848C;
$darker-grey: #425259;
$title-color: #2e383c;
$link-color: #364BCC;

$shadow: 2px 2px 15px rgba(0,0,0,0.05);

/********/

.partners {
    max-width: 50em;
    text-align: center;
    margin: 0 auto;
}

.partners img {
    width: 200px;
    margin: 10px 20px 0 20px;
    opacity: 0.4;
    transition: opacity 0.5s;
}

.partners a:hover img {
    opacity: 1;
}

.time .time-item:nth-child(2) .time-date {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.2);
}

.home-feature-wrapper {
    background: url(/images/angle.svg) 0 100% no-repeat;
    background-size: 100% auto;
    margin: -18px -18px -240px -18px;
    padding: 20px 16px 280px 16px;
}

.time h4 {
    margin-top: 0;
}

.content-footer h3 {
    padding-top: 3em;
    text-align: left;
}

.content-footer {
    text-align: left;
}

/* For devices smaller than 880px */
@media (max-width: 880px) {
    
    .home-feature h1 {
        font-size: 160%;
        color: #fff;
        line-height: 1.3;
        max-width: 18em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .time {
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .time-item {
        position: relative;
        padding-left: 32px;
    }
    
    .time .image img {
        width: 90%;
    }
    
    .time .time-date {
        border-top: 1px solid rgba(0,0,0,0.1);
        font-size: 70%;
        padding: 8px 0 16px 16px;
        margin-top: 32px;
        text-transform: uppercase;
        margin-left: -32px;
        position: relative;
        text-align: right;
    }
    
    .time-date:after {
        content: ".";
        color: rgba(255,255,255,0);
        position: absolute;
        top: -7px;
        left: -4px;
        width: 13px;
        height: 13px;
        border-radius: 20px;
        background: $orange;
    }
    
    .time .line {
        width: 5px;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        top: -16px;
        left: 0;
        height: 100%;
        display: block;
    }
}

/* For devices larger than 880px */
@media (min-width: 880px) {
    body.home .main {
        margin: 0 0 0 260px;
        padding-left: 0;
        padding-top: 0;
        max-width: none;
        text-align: center;
    }
    
    .home-feature h1 {
        max-width: none;
        font-size: 50px;
        line-height: 1.15;
        color: #fff;
    }
    
    .home-feature-wrapper {
        padding: 100px 0 360px 0;
        margin-left: 0;
        margin-right: -100px;
    }
    
    .home-feature {
        max-width: 800px;
        padding: 0 40px;
        margin: 0 auto;
    }
    
    .home-feature p {
        color: rgba(255,255,255,0.4);
        margin-bottom: 4em;
        font-size: 140%;
    }
    
    .time {
        min-height: 2000px;
        max-width: 1300px;
        margin: -300px auto 0 auto;
        position: relative;
        left: 50px;
    }
    
    .time .line {
        width: 3px;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -2px;
        height: 100%;
        display: block;
    }
    
    .time-item {
        width: 40%;
        text-align: left;
        position: relative;
        margin-top: 60px;
    }
    
    .time-right {
        margin-top: 100px; /* offsets the right so they're never equal to left */
    }
    
    .time-right .time-content {
        padding: 20px 0 20px 40px;
    }
    
    .time-left .time-content,
    .time-full .time-content {
        padding: 20px 40px 20px 0;
    }
    
    .time-content .image img {
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 16px 0;
    }
    
    .time-content p {
        margin: 0;
    }
    
    .time-date {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 200;
        color: rgba(0,0,0,0.4);
        border-bottom: 1px solid rgba(0,0,0,0.15);
        padding-bottom: 0.5em;
        position: relative;
    }
    
    .time-date:after {
        content: ".";
        color: rgba(255,255,255,0);
        position: absolute;
        bottom: -7px;
        right: -6px;
        width: 13px;
        height: 13px;
        border-radius: 20px;
        background: $orange;
    }
    
    .time-right .time-date:after {
        right: auto;
        left: -7px;
    }
    
    .time-left, .time-full {
        display: inline-block;
        float: left;
        margin-left: 10%;
        clear: left;
    }
    
    .time-full {
        clear: both;
    }
    
    .time-full .image img {
        width: 220%;
        margin-top: 20px;
    }
    
    .time-right {
        display: inline-block;
        float: right;
        margin-right: 10%;
        clear: right;
    }
    
    .time-right .time-date {
        text-align: right;
    }
    
    .time .time-item:nth-child(3) {
        margin-top: 200px;
    }
    
    .content-footer {
        margin-right: -80px;
    }
    
    .content-footer h3 {
        text-align: center;
    }
}