$large-text: 18px;

$orange: #ff8565;
$light-grey: #f6f6f6;
$dark-grey: #999;
$link-color: #3A4BC2;

$shadow: 2px 2px 15px rgba(0,0,0,0.05);

/********/

@font-face {
    font-family: Metropolis;
    src: url(/fonts/Metropolis-Thin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Metropolis;
    src: url(/fonts/Metropolis-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: Metropolis;
    src: url(/fonts/Metropolis-Regular.otf);
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url(/fonts/Metropolis-Medium.otf);
    font-weight: 400;
}

body {
    font-size: 16px;
    font-family: Metropolis, sans-serif;
    font-weight: 100;
    background: $light-grey;
    padding: 0;
    margin: 0;
}

h1 {
	font-weight: 100;
	font-size: 64px;
	letter-spacing: -0.02em;
}

h1 em {
    font-size: 80%;
    font-style: normal;
}

h2 {
    font-weight: 200;
    font-size: 24px;
    letter-spacing: -0.02em;
    margin: 1.5em 0 0.5em 0;
}

h3 {
    font-weight: 200;
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 1.2;
}

h4 {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: -0.02em;
    line-height: 1.2;
    margin: 0;
}

a,
a:visited {
    color: $link-color;
    text-decoration: none;
    font-weight: 200;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #000;
}

.footnote {
    font-size: 50%;
    vertical-align: top;
    color: #999;
}

.clear {
    clear: both;
}

p, .main li {
	line-height: 1.4;
}

.graph,
.photo {
	margin: 2em 0;
    position: relative;
    text-align: center;
}

.graph img,
.photo img {
	width: 95%;
    border: 4px solid #fff;
	box-shadow: $shadow;
}

.image img {
    border: 4px solid #fff;
	box-shadow: $shadow;
}

.graph .caption,
.photo .caption {
    display: block;
    clear: both;
    text-align: center;
    line-height: 1.3;
    margin: 0.5em 0 0 0;
    color: $dark-grey;
    font-size: 80%;
}

.image-float {
    float: right;
    margin: 0 8px 16px 32px;
    text-align: center;
    color: $dark-grey;
    font-size: 80%;
    line-height: 1.3;
    width: 110px;
}

.image-float img {
    margin: 0 0 10px 0;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.05);
    border: 4px solid #fff;
    display: block;
    width: 100px;
}

.photo-array-3 img {
    width: 29%;
    margin: 0 4px;
}

nav, .main {
	padding: 16px;
}

nav {
	background: #fff;
    padding: 16px;
}

.main {
    min-height: 300px;
}

nav h1 {
	font-size: 24px;
    font-weight: 400;
    margin: 0;
}

nav h1 a,
nav h1 a:visited {
    color: #000;
    font-weight: 300;
    display: inline-block;
    white-space: nowrap;
    text-indent: -2000em;
    background: $light-grey;
    width: 150px;
    height: 45px;
    margin: 0 0 8px 0;
}

nav ul {
    display: none;
}

.vs {
    display: block;
    font-size: 11px;
    color: $dark-grey;
}

.vs-logo {
    width: 160px;
}

.main h1 {
	font-size: 36px;
}

.columns .image img {
    width: 95%;
}

.member {
    margin: 1em 0;
}

.member-contents {
    padding: 0;
    margin-top: 40px;
    position: relative;
}

.member h3 {
    margin: 10px 0 10px 0;
}

.member .title {
    font-size: 85%;
}

.member .img {
    background: #fff;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    float: right;
    margin: 0 0 16px 16px;
}

.members-secondary p {
    margin: 0.5em 0;
    display: none;
}

.members-secondary .img {
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    margin-top: -6px;
}

footer {
    margin-top: 60px;
    padding: 100px 16px 60px 16px;
    background: url(/images/footer.svg) 100% 0;
    clear: both;
    font-size: 85%;
    text-align: center;
}

footer a.footer-link {
    display: block;
    padding: 0 0 16px 0;
}

.submenu {
    height: 1px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s, height 0.3s;
}

.submenu.active {
    opacity: 1;
    height: 380px;
    overflow: visible;
}

.mobile-nav {
    padding: 16px;
    background: #fff;
    border-top: 1px solid $light-grey;
}

.mobile-nav ul,
.mobile-nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav a,
.mobile-nav a:hover {
    text-decoration: none;
}

.menu li {
    display: inline-block;
    padding-right: 16px;
}

.submenu li {
    display: block;
    padding: 16px 0 0 0;
    font-size: 110%;
}

.submenu li li {
    padding-left: 16px;
    font-size: 85%;
}

.submenu li span {
    border-top: 1px solid $light-grey;
    display: block;
    padding: 16px 32px 4px 32px;
    margin: 0 -32px;
    font-size: 85%;
    letter-spacing: 0.05em;
    font-style: italic;
    color: $orange;
}

a.document-link {
    display: block;
    margin: 10px 0;
    padding-left: 28px;
    position: relative;
}

a.document-link:before {
    content: '.';
    color: #fff;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 18px;
    vertical-align: middle;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

/* For devices larger than 880px */
@media (min-width: 880px) {
    
    body {
        font-size: 18px;
    }
    
    .main {
    	margin: 0 60px 60px 260px;
        padding: 20px 0 0 100px;
        min-height: 900px;
        position: relative;
        max-width: 750px;
    }
    
    footer {
        margin: 0 0 0 260px;
        padding: 260px 60px 100px 0;
        background-size: 100% auto;
        text-align: right;
    }
    
    .footer-section {
        float: right;
        margin-left: 64px;
        line-height: 1.3;
        text-align: center;
        padding-top: 20px;
    }
    
    .footer-links {
        border-right: 1px solid rgba(0,0,0,0.1);
        padding: 16px 32px 16px 0;
        text-align: right;
    }
    
    h1 {
		max-width: 650px;
		margin: 0 0 20px 0;
	}
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 20px;
        margin: 2em 0 0 0;
    }
    
    h2 span,
    h3 span {
        display: block;
    }
	
	.main h1 {
		margin-top: 100px;
		font-size: 64px;
	}
    
    .vs {
        padding: 8px 0 16px 10px;
    }
	
	p.intro {
		font-size: 140%;
		max-width: 30em;
	}
    
    .image-float {
        margin: 0 0 32px 64px;
        width: 220px;
    }

    .image-float img {
        width: 200px;
        border: 10px solid #fff;
    }
    
    nav {
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		width: 260px;
		height: 100%;
		padding: 40px 0 0 20px;
		overflow: scroll;
        box-sizing: border-box;
	}
    
    nav h1 a {
        margin: 0 0 0 10px;
        width: 200px;
        height: 60px;
    }
	
	nav ul {
		display: block;
        width: auto;
	}
	
	nav .nav-mobile {
		display: none;
	}
    
    nav ul {
    	list-style: none;
    	margin: 0;
    	padding: 0;
    }
    
    nav li {
    	padding: 0;
    	margin: 0;
    	display: block;
    }
    
    nav li a {
    	display: block;
    	padding: 10px 0 10px 10px;
    	font-size: 80%;
        font-weight: 300;
        letter-spacing: -0.03em;
    }
    
    nav li a strong {
        border-bottom: 1px solid rgba(255,255,255,0);
        font-weight: 200;
        transition: border 0.3s;
    }
    
    nav li a:hover strong {
        border-bottom-color: rgba(0,0,0,0.1);
    }
    
    nav li a:hover {
        text-decoration: none;
    }
    
    nav li.selected a {
        background: rgba(247,140,109,0.1);
        border-right: 1px solid $orange;
        color: $orange;
    }
    
    /* TEMP */ nav li.selected li a {
        background: none;
        border: none;
        color: $link-color;
    }
    
    a.nav-project {
    	font-size: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    
    .columns {
        position: relative;
    }
    
    .column {
        float: left;
        position: relative;
    }
    
    .columns-3 .column {
        width: 31%;
        margin-right: 3.5%;
    }
    
    .columns-3 .column:nth-child(3) {
        margin: 0;
    }
    
    .columns .image img {
        width: 95%;
        height: auto;
        margin: 1em 0 -16px 0;
    }
    
    .columns h3 {
        font-size: 100%;
        margin-bottom: 0.2em;
    }
    
    .columns p {
        font-size: 85%;
    }
    
    nav li span {
    	display: block;
    	padding: 16px 0 2px 10px;
    	font-size: 70%;
        letter-spacing: 0.05em;
        color: $dark-grey;
    }
    
    nav ul ul {
    	padding-bottom: 16px;
    }
    
    nav ul ul li {
    	border-top: none;
    	padding: 0;
    	margin: 0;
    }
    
    nav ul ul li a {
    	padding: 7px 0 7px 32px;
        font-weight: 200;
    }
    
    .graph,
    .photo {
        margin: 2em 0 2em -16px;
    }
    
    .team {
        margin: 0 0 0 -16px;
    }
    
    .member {
        width: 48%;
        float: left;
        margin: 32px 0 0 0;
    }
    
    .members-primary .member:nth-child(odd) {
        margin-right: 4%
    }
    
    .member-contents a.more {
        display: block;
        border-top: 1px solid $light-grey;
        padding: 16px 0;
        margin-bottom: -16px;
        text-align: center;
        font-size: 85%;
    }
    
    .member-contents {
        padding: 216px 16px 16px 16px;
        background: #fff;
        position: relative;
        box-shadow: $shadow;
        margin: 0;
    }
    
    .member p {
        font-size: 85%;
        min-height: 7em;
    }
    
    .member .img {
        width: 100%;
        height: 200px;
        background: rgba(0,0,0,0.1);
        position: absolute;
        border-radius: 0;
        top: 0;
        left: 0;
        margin: 0;
        float: none;
    }
    
    .members-secondary {
        margin: 64px 0 0 0;
    }
    
    .members-secondary .member {
        float: left;
        background: none;
        height: auto;
        width: 25%;
        text-align: center;
        min-height: 200px;
    }
    
    .members-secondary .member-contents {
        background: none;
        box-shadow: none;
        margin: 0;
        padding-top: 110px;
    }
    
    .members-secondary .img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        left: 50%;
        margin-left: -50px;
        background: #fff;
    }
    
    .members-secondary h3 {
        font-size: 90%;
        margin-bottom: 4px;
    }
    
    .members-secondary .title {
        line-height: 1.3;
        font-size: 70%;
        padding: 0 8px;
    }
    
    .graph img,
    .photo img,
    .image img {
        border-width: 10px;
    }
    
    .mobile-nav {
        display: none;
    }
    
    a.document-link:before {
        width: 20px;
        height: 24px;
    }
    
    .resources .document-link {
        text-align: center;
        display: inline-block;
        width: 220px;
        padding: 0 36px 0 0;
        margin-left: -16px;
        min-height: 180px;
        font-size: 85%;
        line-height: 1.3;
        vertical-align: top;
    }
    
    .resources a.document-link:before {
        display: block;
        width: 190px;
        padding: 50px 0;
        margin: 12px 0;
        color: #999;
        margin-left: 15px;
        text-decoration: none;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .resources a.document-link:hover:before {
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    
    .resources .document-pdf:before {
        content: 'PDF';
    }
    .resources .document-video:before {
        content: 'Video';
    }
    .resources .document-url:before {
        content: 'Link';
    }
    .resources .document-bibliography:before {
        content: 'Biblio';
    }
    
    body.secondary-nav .main, 
    body.secondary-nav footer {
        margin-left: 500px;
        max-width: 750px;
    }
    
    body.secondary-nav footer {
        padding-left: 32px;
        margin-left: 480px;
    }
    
    body.secondary-nav .main h1 {
		margin-top: -20px;
		font-size: 42px;
        max-width: 100%;
    }
    
    .second-nav {
        position: fixed;
        top: 0;
        left: 260px;
        height: 100%;
        width: 220px;
        border-right: 1px solid rgba(0,0,0,0.1);
        padding: 40px 16px 16px 16px;
        overflow: scroll;
        box-sizing: border-box;
    }
    
    .second-nav a {
        display: block;
        padding: 6px 0;
        font-size: 85%;
    }
    
    .second-nav ol {
        margin: 0.5em 0 1em -8px;
        padding-left: 0;
        font-size: 85%;
        color: #999;
        list-style: none;
    }
    
    .second-nav li {
        counter-increment: step-counter;
        position: relative;
        padding-left: 2em;
    }
    
    .second-nav li:before {
        content: counter(step-counter);
        margin-right: 5px;
        font-size: 80%;
        padding: 3px 0;
        border-radius: 100px;
        position: absolute;
        left: 0;
        top: 4px;
        text-align: center;
        min-width: 2.2em;
        display: block;
    }
    
    .second-nav .clear {
        height: 100px;
    }
    
}