---
title: "Michael Adjabeng"
section: "training"
---

<p><a href="/training" class="back">PMEP management training</a></p>

<h1>Michael Adjabeng</h1>
<p class="intro">Ghana</p>

<img src="/images/training/large/adjabeng.jpg" alt="" class="bio-photo">

<p>Michael Adjabeng is the Coordinator of the Port Health Unit, Ghana Health Services as well as the IHR National Focal Person. He teaches part-time at the School of Public Health, University of Ghana and the University of Health and Allied Sciences.</p>
<p>He has been instrumental in setting up disease surveillance systems in Ghana and played a leading role in the Joint External Evaluation and development of the National Action Plan for Health Security for Ghana.</p>
<p>Michael is the acting General Secretary of the Ghana Public Health Association and holds a PhD in Public Health, MPH, MSc, and a diploma in community health. </p>

<p>Twitter: <a href="https://twitter.com/mikejeroen">@mikejeroen</a></p>

<h3>Quote</h3>
<blockquote>&ldquo;Management skills are taken for granted when it comes to epidemic preparedness and response. Stakeholder management, forecasting, resource mobilization, risk mapping, leadership and coordination draws a lot from management competencies for plans to succeed.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>