---
title: "Olugbenga Akinbiyi"
section: "training"
---

<p><a href="/training" class="back">PMEP management training</a></p>

<h1>Olugbenga Akinbiyi</h1>
<p class="intro">Nigeria</p>

<img src="/images/training/large/akinbiyi.jpg" alt="" class="bio-photo">

<p>Olugbenga Akinbiyi is the National Action Plan for Health Security Officer at the Nigeria Centre for Disease Control (NCDC).</p><p>He studied microbiology at Lagos State University and went on to receive his Master’s in Public Health. He worked for over 19 years in the field of HIV/AIDS control before focusing on infectious diseases at NCDC.</p>
<p> Specializing in Field Epidemiology, Olugbenga is enrolled in a PHD programme at Texila American University.</p>

<h3>Quote</h3>
<blockquote>&ldquo;I'm motivated to work on epidemic preparedness as it is one of the major strategies to strengthen national health security. It helps to control the cost of epidemics, and it strengthens institutional capacity to respond to outbreaks in a timely manner, to curtail further spread.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>