---
title: "Murangwa Anthere"
---

<p><a href="/training" class="back">PMEP managment training program</a></p>

<h1>Murangwa Anthere</h1>
<p class="intro">Rwanda</p>

<img src="/images/training/large/anthere.jpg" alt="" class="bio-photo">

<p>Murangwa Anthere is the Head of Laboratory Directorate, Rwanda Military Hospital with the Ministry of Defense.</p>
<p>A medical microbiologist by training, Murangwa studied biomedical technology at the University of Johannesburg before completing his Masters program in the University of Nairobi in the medical microbiology department.</p>
<p>In his current role he teaches students for their clinical attachments at the hospital, performs bacteriology tests and supports administration of the hospital. Murangwa supervised the Ebola simulation exercise at the hospital and participated in the national level simulation. </p>

<h3>Quote</h3>
<blockquote>&ldquo;Personally, I feel motivated to work on epidemic preparedness because I like to help people in danger. I also like research so in this field I will be able to conduct research which can help in epidemic prevention and treatment in the future.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>