---
title: "Ruth Nana Friba Arthur"
section: "training"
---

<p><a href="/training" class="back">PMEP management training</a></p>

<h1>Ruth Nana Friba Arthur</h1>
<p class="intro">Ghana</p>

<img src="/images/training/large/arthur.jpg" alt="" class="bio-photo">

<p>Ruth Nana Friba Arthur is the Chief Disaster Control Officer and Head of the Disease Epidemics Unit at the Ghana National Disaster Management Organization, a government agency.</p>
<p>Ruth has 20 years of experience working in disaster preparedness and response and played an integral part in the Joint External Evaluation and National Action Plan for Health Security development for Ghana. Ruth is a member of the United Nations Disaster Assessment Coordination Team and has deployed on several assignments including supporting the response to mudslides in Sierra Leone and floods in Nigeria.</p>
<p>She currently coordinates the One Health Technical Working Group, and holds a Masters Degree in Human Resource Management.</p>

<h3>Quote</h3>
<blockquote>&ldquo;I feel personally motivated to work on epidemic preparedness because it offers an opportunity to save lives and promote awareness and collective participation to achieve a common good.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>