---
title: "Lamin M. Fadera"
section: "training"
---

<p><a href="/training" class="back">PMEP management training</a></p>

<h1>Lamin M. Fadera</h1>
<p class="intro">The Gambia</p>

<img src="/images/training/large/fadera.jpg" alt="" class="bio-photo">

<p>Lamin is the Program Manager for the Water, Sanitation and Hygiene Unit at The Gambia Directorate of Public Health Services. He also serves as the IHR coordinator.</p>
<p>Previously he served in the public health office in various health facilities for several years. He received a scholarship to Kwame Nkrumah University of Science and Technology in Kumasi, Ghana where he obtained a Masters of Science in Water Supply and Environmental Sanitation before stepping into his current role. </p>

<h3>Quote</h3>
<blockquote>&ldquo;This course will increase my knowledge on using system thinking to look at issues in a broader perspective so I can contribute to find, stop and prevent disease outbreaks in the Gambia.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>