---
title: "Kola Jinadu"
section: "training"
---

<p><a href="/training" class="back">PMEP management training</a></p>

<h1>Kola Jinadu</h1>
<p class="intro">Nigeria</p>

<img src="/images/training/large/jinadu.jpg" alt="" class="bio-photo">

<p>Kola Jinadu is the Assistant Director/Senior Technical Advisor to the Director General of the Nigeria Centre for Disease Control (NCDC).</p>
<p>Kola has over 8 years of experience as a public health physician working in epidemic prone diseases, surveillance, pandemic preparedness and response and partner coordination. He most recently served as a technical advisor on pandemic prevention in ECOWAS for the German Development Cooperation. In his current role he supports the NCDC Director General in all aspects of operations including strategic planning of the National Action Plan for Health Security.</p>
<p>Kola is a fellow of the West African College of Physicians and hold a masters' degree in epidemiology and biostatistics.</p>

<h3>Quote</h3>
<blockquote>&ldquo;I am particularly motivated to work on epidemic preparedness because poor epidemic preparedness was largely responsible for the avoidable nearly 12,000 deaths in the 2014-2016 West African Ebola epidemic. Bearing this colossal loss in mind, I will continue to be a champion in epidemic preparedness both locally and beyond.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>