---
title: "Jacob Lusekelo"
---

<p><a href="/training" class="back">PMEP managment training program</a></p>

<h1>Jacob Lusekelo</h1>
<p class="intro">Tanzania</p>

<img src="/images/training/large/lusekelo.jpg" alt="" class="bio-photo">

<p>Jacob Lusekelo is the Tanzania National Health Laboratory Quality Manager and the International Health Regulations National Focal Point (Laboratory).</p>
<p>Jacob has worked on several programs in Tanzania such as the Africa Cholera Surveillance Project, coordinated trainings and meetings on Biosafety and Biosecurity and supporting laboratory networking and accreditation. Jacob is a member of the Global Health Security Agenda Action Package 3 (Biosafety and Biosecurity) and supports laboratory Biosafety and Biosecurity legislation, practices and biosurveillance.</p>

<h3>Quote</h3>
<blockquote>&ldquo;During a Cholera outbreak on 2012, while I was coordinating Cholera response activities, I was so moved by seeing so many small children suffering from diarrhoea. I wanted to reach every suffering child during that period. If we can have a strong epidemic preparedness system, we can save lives.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>