---
title: "Betty Mbolanyi"
section: "training"
---

<p><a href="/training" class="back">PMEP management training</a></p>

<h1>Betty Mbolanyi</h1>
<p class="intro">Uganda</p>

<img src="/images/training/large/mbolanyi.jpg" alt="" class="bio-photo">

<p>Betty Mbolanyi is the Senior Environment Officer, Directorate of Environment Affairs at the Uganda Ministry of Water and Environment.</p>
<p>In her current role she coordinates all health and environment work on behalf of the Directorate and is in charge of environmental issues for the Central Region. Betty is the One Health Focal Person for the Ministry and a member of the One Health Coordination Office.</p>
<p>She also represents the Ministry at the regional level in the Technical Working Group on Health and Environment.</p>

<h3>Quote</h3>
<blockquote>&ldquo;I feel personally inspired to work on epidemic preparedness because Uganda is striving hard to achieve middle-income status by 2020, and that will be unachievable without a healthy population. A healthy population is a key to economic development and sustainable development.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>