---
title: "Faraja Lutula Msemwa"
section: "training"
---

<p><a href="/training" class="back">PMEP management training</a></p>

<h1>Faraja Lutula Msemwa</h1>
<p class="intro">Tanzania</p>

<img src="/images/training/large/msemwa.jpg" alt="" class="bio-photo">

<p>Dr. Faraja L. Msemwa is an Emergency Preparedness and Response Officer for the Tanzania Ministry Of Health.</p>
<p>Dr. Msemwa has worked in public health and emergency management for over 8 years. She supported the Joint External Evaluation and development of the National Action Plan for Health Security for both Tanzania Mainland and Zanzibar.</p><p>In her current role she coordinates preparedness and response activities including training of rapid response teams and other emergency response teams, simulation exercises, and development of emergency preparedness plans. She is a member of the National International Health Regulations Technical Working Group and Ministry of Health Focal Point for One Health. She holds a Medical Degree, Masters of Public health and Masters of Disaster Management.</p>

<h3>Quote</h3>
<blockquote>&ldquo;Preparedness for public health emergencies—including epidemic outbreaks—is my great passion and area of interest. When I work in preparedness it always brings positive results coming from the impact of the particular strengthened capacity.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>