---
title: "Solome Okware"
---

<p><a href="/training" class="back">PMEP managment training program</a></p>

<h1>Solome Okware</h1>
<p class="intro">Uganda</p>

<img src="/images/training/large/okware.jpg" alt="" class="bio-photo">

<p>Solome Okware is the the Senior Technical Advisor, Policy, at the Infectious Diseases Institute at Makerere University in Uganda.</p>
<p>She has over 6 years of experience contributing to provision of health care through patient care, capacity building and research. She has led a capacity building project on dangerous pathogens and supported national Ebola preparedness efforts through provision of technical support.</p>
<p>In her current role, she provides technical guidance on implementation of the National Action Plan for Health Security and supports the National Task Force. Solome is a medical doctor and holds a Master's in Public Health.</p>

<p>Twitter: <a href="https://twitter.com/solchka">@solchka</a></p>

<h3>Quote</h3>
<blockquote>&ldquo;The principles of systems thinking we are learning will better help the team not simply think of the disease, but the person, the environment and all that comes with these. This way of thinking will help broaden the scope of surveillance, response and recovery in order to detect early and plan better for the next disease outbreak.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>