---
title: "Ayoola Abiodun Olufemi"
---

<p><a href="/training" class="back">PMEP managment training program</a></p>

<h1>Ayoola Abiodun Olufemi</h1>
<p class="intro">Nigeria</p>

<img src="/images/training/large/olufemi.jpg" alt="" class="bio-photo">

<p>Ayoola Abiodun Olufemi is the Deputy Director, Lead Risk Communications at the Nigeria Centre for Disease Control. He has over 17 years of experience in public health, and is a trained physician along with holding his MBCHP and MPH degrees.</p><p>Previously he worked with the National Orientation Agency as a Medical/Health Orientation Officer with an emphasis on community engagement for 15 years. He participated in the development of various health policy documents including on family planning, maternal and newborn health and immunization in collaboration with partners.</p>
<p>He has taken part in response activities during multiple infectious outbreaks in Nigeria including yellow fever, Cerebrospinal Meningitis, Lassa fever, measles and others.</p>

<p>Twitter: <a href="https://twitter.com/femifocus12">@femifocus12</a></p>

<h3>Quote</h3>
<blockquote>&ldquo;In 1987 I lost a junior brother to the yellow fever outbreak in Oyo state, Nigeria. It was a painful and sad period for the family. That experience spurred my interest in fighting epidemic diseases especially since yellow fever is preventable.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>