---
title: "Tracy N. Pency-King"
---

<p><a href="/training" class="back">PMEP managment training program</a></p>

<h1>Tracy N. Pency-King</h1>
<p class="intro">Liberia</p>

<img src="/images/training/large/pency-king.jpg" alt="" class="bio-photo">

<p>Tracy N. Pency-King is the One Health Coordinator for Rabies Control for the Neglected Tropical Disease Program in the Liberia Ministry of Health.</p>
<p>A nurse by training Tracy worked for several years in health facilities in Liberia before joining the National Health Promotion Division of the Ministry of Health.</p>
<p>In her current role with the Neglected Tropical Disease program, she coordinates One Health activities across ministries and partners, manages national plans and monitoring activities for rabies control and supports education and behavior change communication programming.</p>

<h3>Quote</h3>
<blockquote>&ldquo;Program Management helps managers and companies to properly understand risk factors from outbreaks which will enable them reduce exposure, improve their resilience and deliver on key opportunities for public-private cooperation to strengthen local, international and global health security.&rdquo;</blockquote>

<h2>What is the PMEP course?</h2>
<p>Program Management for Epidemic Preparedness course graduates are the epidemic preparedness leaders of tomorrow. Competitively selected, they represent their countries’ strongest front against disease outbreaks. Together, they will form a global network of experts effectively managing their countries’ ability to find, stop and prevent epidemic threats. <a href="/training">Learn more...</a></p>