---
title: "Abdoulie L. J. Camara"
---

<p><a href="/training">PMEP training program</a></p>

<h1>Abdoulie L. J. Camara</h1>
<p class="intro">Ghana</p>

<img src="/images/training/large/user.jpg" alt="" class="bio-photo">

<p>Abdoulie L. J. Camara is the Public Health Emergency, Preparedness and Response Coordinator for The Gambia Ministry of Health. He has worked with the Ministry of Health in the Epidemiology and Disease Control Unit for almost 30 years.</p>
<p> As part of his current work he partners with UN agencies, other ministries, the private sector, media and others to advance preparedness and response work. He doubles as the Emergency Operations Center Manager, leading trainings for surveillance officers on disease surveillance and control and facilitating sample collection and transport with the National Public Health Laboratory.  Abdoulie has studied at The Gambia College School of Public Health, University of Nairobi and AMREF University in Kenya.</p>

<h3>Quote</h3>
<blockquote>"The course will help me to assess and further enhance multi-sectorial outbreak preparedness and response in the Gambia and the region. The learning materials will be used to assess and identify strengths and weaknesses in coordination and collaboration mechanisms, emergency response deployment, logistics and more. The knowledge shared from other participants will be used to further improve preparedness and response capacities in The Gambia and the ECOWAS region"</blockquote>