---
title: "Epidemics that Didn’t Happen"
section: "improving"
---
<h3>Call for submissions:</h3>
<!-- <h1 style="margin-top:1.5rem">Epidemics that Didn’t Happen 2019</h1> -->

<div class="image" style="margin-top:1.5rem">
    <a href="/images/etdh.jpg"><img src="/images/etdh.jpg" alt="Epidemics that Didn’t Happen 2019" style="max-width: 95%;"></a>
</div>

<p class="intro">Resolve to Save Lives is developing a new report highlighting outbreaks that were stopped before they spread out of control in 2019.</p>


<h4>December 6, 2019</h4>


<p>The report will feature case studies from around the world that showcase how strong epidemic preparedness stopped outbreaks from growing into epidemics, saving lives and money. We plan to launch to report in early 2020, and hope to use it to further make the case for prioritizing and investing in epidemic preparedness.</p>

<p>We’re eager to share the important work that the epidemic preparedness community has done in the last year. If you or a partner worked on a relevant case in 2019, <strong>please <a href="https://www.surveymonkey.com/r/LYWHRLC">submit a 3-5 sentence summary here</a></strong>. And don’t forget to share this opportunity with your networks and any colleagues who might be interested.</p> 

<p>Our team will support the writing of the selected case studies. </p>

<p>Submissions will be open through <strong>December 20th</strong>.</p>


