/* Variables */
:root {
  --baseline: 1.6rem;
  --grid: 5px;
  --rtsl-red: #F3775C;
  --rtsl-blue: #2B307F;
  --rtsl-blue-light: #EDEDF8;
  --rtsl-blue-tint-mid: #aaacdd;
  --rtsl-blue-1: #7077C1;
  --rtsl-blue-2: #AEB1E2;
  --rtsl-blue-3: #D9DAF2; 
  --rtsl-blue-4: #F2F3FB;  
  --rtsl-soft-black: #003441;
  --rtsl-accent: #f2c84c;
}

/* TYPOGRAPHY */

/* Remove all default margins */   
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

html {
  font-size: calc(1rem + 0.15vw);
}

body, * {
	font-family: 'hk_groteskmedium', sans-serif;
	line-height: var(--baseline);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: --rtsl-soft-black;
}

body {
	background: #fff;
	color: var(--color-primary);
}

body *+* {
  margin-top: var(--baseline);
}

/* Exceptions to the owl rule */
#intro h2,
h3 + p,
h4 + P {
  margin-top: 0;
}

h1,h2,h3,h4,a,strong, .swatch th {
    font-family: 'hk_groteskbold', sans-serif;
    font-weight: normal;
} 

em {
    font-family: 'hk_groteskmedium_italic', sans-serif;
    font-style: normal;
}

h1 em, h2 em, h3 em, h4 em, strong em {
    font-family: 'hk_groteskbold_italic', sans-serif;	
}

pre, code {
  font-family: 'Cousine', monospace;
}

hr {
	border-top: 1px solid #ccc;
	margin-top: calc(var(--baseline) - 2px);
}

a {
	color: var(--color-accent-dark);
	transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--color-primary);
}

h1 {
	font-size: 3.875rem; /* 62px */
	line-height: calc(var(--baseline) *3);
	color:  var(--rtsl-red);
	margin-top: 1.625rem;
	margin-bottom: 3.25rem;
	letter-spacing: -0.1rem;
	background: url(../assets/dividers/Divider1.svg) no-repeat;
	padding-top: var(--baseline);
}

* + h1 {
	margin-top: calc(var(--baseline) *2);
}

h2 {
	font-size: 1.625rem; 
	line-height: 1.625rem;
	color: --rtsl-blue;
	max-width: 20em;
	margin-top: 1.625rem;
	margin-bottom: 1.625rem;
	letter-spacing: -0.05rem;
}

* + h2 {
  margin-top: calc(var(--baseline) *3);    		
}

h3, h4 {
	font-size: 1rem;
	color: var(--color-primary);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}
