---
title: "Amanda McClelland"
---

<h1>Amanda McClelland</h1>
<p class="intro">Senior Vice President, Prevent Epidemics</p>

<img src="/images/team/large/McClelland_Amanda.jpg" alt="" class="bio-photo">

<p>Amanda McClelland has more than 15 years’ experience in international public health management. Amanda previously served as Global Emergency Health Advisor for the International Federation of Red Cross Red Crescent (IFRC) where she focused on emergency health, epidemic control, mass casualty in low resource settings, disease prevention and response operations.</p>

<p>Amanda earned her Master of Public Health and Tropical Medicine from James Cook University in Queensland, Australia and her Bachelor of Nursing from Queensland University of Technology.  In her capacity as Senior Vice President of the Prevent Epidemics (PE) Team,  Amanda will lead the prioritization and planning of interventions/support in identified countries and regions to strengthen the action packages in prevention, detection and response to epidemics.</p>

<h3>Press photo</h3>
<p><a href="/images/team/full/McClelland_Amanda.jpg">Download</a> a full resolution photo of Amanda McClelland.</p>