---
title: "Cardiovascular Health"
section: "cardiovascularhealth"
---

<h1>Save 100 million lives from cardiovascular disease</h1>

<p class="intro">More than 18 million people die each year from cardiovascular disease (CVD), despite the availability of effective, inexpensive, and safe prevention and treatment.</p>

<div class="graph">
    <div class="image"><a href="#"><img src="/images/youtube-cvd.jpg" alt=""></a></div>
    <div class="caption">Dr. Tom Frieden explains the burden of cardiovascular disease</div>
</div>

<p>Fewer than one in six people in the world live in countries that have effective policies and programs in place to treat high blood pressure and reduce sodium and trans-fat intake.  While there is much more progress to be made, CVD deaths have decreased dramatically in higher income countries. Achieving similar declines worldwide would save millions of lives and reduce medical costs.  Currently, less than 1% of the $35 billion spent each year on health assistance is for CVD prevention.</p>

<h2>How to save 100 million lives</h2>
<p>Resolve to Save 100 Million Lives aims to reduce the number of people dying from heart disease and stroke in low- and  middle-income countries. The initiative has three components, each high-impact, not currently addressed, and with the ability to make rapid progress:</p>

<div class="columns columns-3">
    
    <div class="column">
        <div class="image"><img src="/images/sample-graph.png" alt=""></div>
        <h3>Improved treatment of high blood pressure</h3>
        <p>High blood pressure kills more people than all infectious diseases combined – nearly 10 million people a year.  Treatment is low-cost, simple, and can be done by existing health programs, with funding leveraged from governments and other sources.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/sample-graph.png" alt=""></div>
        <h3>Elimination of <span>artificial trans-fat</span></h3>
        <p>Artificial trans-fat, a toxic food additive that increases the risk of heart attack and death, can be eliminated through regulatory action and enforcement without changing the taste or increasing the cost of food, empowerment of consumers, collaboration with the food industry, and government guidance.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/sample-graph.png" alt=""></div>
        <h3>Sodium <span>reduction</span></h3>
        <p>High sodium intake raises blood pressure, and high blood pressure is the leading risk factor for heart disease and stroke.  Reducing sodium in food will save lives and money, and can be accomplished through education and empowerment of consumers, collaboration with the food industry, and government guidance.</p>
    </div>
    
    <div class="clear"></div>
</div>

<h2>Our goals</h2>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>