---
title: "Cardiovascular Health"
section: "cardiovascular-health"
---

<h1>Save 100 million lives from cardiovascular disease</h1>

<p class="intro">More than 18 million people die from cardiovascular disease each year, with a majority of these premature deaths occurring in low- and middle-income countries. Proven, scalable solutions exist, but there has been little investment and little progress made so far.</p>

<div class="graph">
    <div class="image"><img src="/images/cvd-relative.png" alt=""></div>
</div>

<h2>How to save 100 million lives</h2>
<p>Resolve to Save Lives aims to save 100 million lives from cardiovascular disease by focusing on three evidence-based interventions.</p>

<ol>
<li>Increase coverage of hypertension treatment to 70%</li>
<li>Reduce sodium consumption by 30%</li>
<li>Eliminate trans fat from the global food supply</li>
</ol>

<div class="columns columns-3">
    
    <div class="column">
        <div class="image"><img src="/images/htn-summary.png" alt=""></div>
        <h3>Hypertension control</h3>
        <p>High blood pressure kills more people than all infectious diseases combined. Yet, there are simple, proven, affordable solutions that can be done within existing healthcare systems &#8212; for as little as $1 per person each year.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/sodium-summary.png" alt=""></div>
        <h3>Reduce sodium</h3>
        <p>Eating too much salt causes more than 2 million deaths each year from high blood pressure. Limiting the amount of sodium in foods is possible, and can be done cheaply: about $0.40 per person.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/transfats-summary.png" alt=""></div>
        <h3>Ban trans fat</h3>
        <p>Artificial trans fat is a toxic chemical in the global food supply that is fully replaceable with healthier oils. Eliminating trans fat will save 17 million lives over the next three decades.</p>
    </div>
    
    <div class="clear"></div>
</div>

<p>The world is in the midst of a momentous shift in its approach to healthcare. We now recognize that the number of people dying from chronic diseases far outnumbers deaths from infectious diseases. Providers and governments are shifting their focus from preventing infections to preventing cardiovascular disease, and Resolve to Save Lives is accelerating that shift.</p>

<h2>How we work </h2>
<p>We work closely with partners, governments and civil society to help countries improve the heart health of their citizens. We work directly with countries, or through our partners, to fund and develop customized cardiovascular disease prevention programs based on the most recent evidence-based practices.</p>

<ul>
<li>Hypertension: Cascade, details of each of the 5, HEARTS</li>
<li>Sodium: Laura’s sodium “cards”</li>
<li>Trans fat: REPLACE “war room”</li>
</ul>