---
title: "Cardiovascular Health"
section: "cardiovascular-health"
---

<h1>Save 100 million lives from cardiovascular disease</h1>

<p class="intro">Everyone knows someone who has died from cardiovascular disease. Heart attacks and strokes are so common that they seem like just a regular part of modern life. But it doesn't have to be that way.</p>

<p>The majority of deaths from cardiovascular disease are in low- and middle-income countries. Proven, scalable solutions exist, and they're affordable. If these solutions are applied broadly, 100 million lives can be saved in the next 30 years.</p>

<div class="graph">
    <div class="image"><a href="/images/cvd-relative.png"><img src="/images/cvd-relative.png" alt=""></a></div>
    <div class="caption">Each tombstone = 100,000 deaths &nbsp; Each row = 1 million deaths</div>
</div>

<h2>How to save 100 million lives</h2>
<p>Resolve to Save Lives aims to save 100 million lives from cardiovascular disease by focusing on three evidence-based interventions.</p>

<div class="columns columns-3">
    
    <div class="column">
        <div class="image"><a href="/hypertension"><img src="/images/htn-small.png" alt="Hypertension control"></a></div>
        <p><strong><span class="drop">Intervention 1</span> Improve global control of blood pressure from 14% to 50%.</strong> Only about 1 person in 7 (14%) has their hypertension under control. There are simple, proven solutions to improve that ratio for as little as $1 per person each year. <a href="/hypertension">More...</a></p>
    </div>
    
    <div class="column">
        <div class="image"><a href="/sodium"><img src="/images/sodium-small.png" alt="Sodium reduction"></a></div>
        <p><strong><span class="drop">Intervention 2</span> Reduce global dietary sodium intake by 30%.</strong> Reducing salt is proven to significantly reduce deaths from cardiovascular disease. Eating too much salt causes more than 2 million deaths each year from high blood pressure. <a href="/sodium">More...</a></p>
    </div>
    
    <div class="column">
        <div class="image"><a href="/transfat"><img src="/images/trans-fats-small.png" alt="Eliminate trans fat"></a></div>
        <p><strong><span class="drop">Intervention 3</span> Eliminate artificial trans fats from the global food supply.</strong> 10 years ago, just 1 country took action on trans fat. Today it’s 25. Eliminating trans fat will save 17 million lives over the next three decades. <a href="/transfat">More...</a></p>
    </div>
    
    <div class="clear"></div>
</div>

<p>The world is in the midst of a momentous shift in its approach to healthcare. We now recognize that the number of people dying from chronic diseases far outnumbers deaths from infectious diseases. Providers and governments are shifting their focus from preventing infections to preventing cardiovascular disease, and Resolve to Save Lives is accelerating that shift.</p>

<div class="image-float"><img src="/images/shifaaz-shamoon-594477-unsplash.jpg">Anisha Jain of Mumbai died of a heart attack in 2018</div>
<h2>Change is possible</h2>

<p>In Mumbai, India, 80 people die from a heart attack every single day. In January, Anisha Jain died of a heart attack leaving behind her young family. She and her husband lived in a middle class home in a good neighborhood. He is an accountant at a law firm and she did yoga 3 days a week and taught children in her building. What's remarkable about her story is how unremarkable it is. Like so many others, Anisha was living her life, building her family, and died too soon from a preventable non-communicable disease.</p>

<p>No matter where we live, everyone knows a relative who has died from a heart attack or stroke. Cardiovascular disease is so common that many people assume that death from a heart attack or stroke is just an inevitable tragedy for many adults. But, it's not inevitable.</p>

<p>Resolve to Save Lives is focused on working with regions to help them get started. Smart investments in a few key areas will show results relatively quickly. Progress is possible.</p>

<div class="image-float">
    <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(17)32443-1/fulltext?code=lancet-site"><img src="/images/lancet-100millionlives.jpg" alt="Lancet: Saving an additional 100 million lives"></a>
    <div class="caption">Dr Tom Frieden and Michael Bloomberg authored <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(17)32443-1/fulltext?code=lancet-site">Saving an additional 100 million lives</a> in The Lancet.</div>
</div>

<h2>How we work </h2>
<p>We work closely with partners, governments and civil society to help countries improve the heart health of their citizens. We work directly with countries, or through our partners, to fund and develop customized cardiovascular disease prevention programs based on the most recent evidence-based practices.</p>
<p>Please <a href="/contact">contact us</a> if you would like to discuss how we could work together to improve cardiovascular health in low- and middle-income countries.</p>