---
title: "Cardiovascular Health"
section: "cardiovascular-health"
---

<h1>Save 100 million lives from cardiovascular disease</h1>

<p class="intro">Everyone knows someone who has died from cardiovascular disease. Heart attacks and strokes are so common that they seem like just a regular part of modern life. But it doesn't have to be that way. Proven, affordable, scalable solutions exist that would save 100 million lives in the next 30 years.</p>

<div class="graph">
<div class="video-wrapper image">
    <a href="/images/cvd-relative.png">
    <video autoplay id="video-html">
        <source src="/images/cvd-relative.mp4" type="video/mp4">
        <img src="/images/cvd-relative.png" alt="">
    </video>
    </a>
    <div id="video-countdown">10</div>
    <div class="caption">Each tombstone = 100,000 deaths per year &nbsp; Each row = 1 million deaths</div>
</div>
</div>

<h2>How to save 100 million lives</h2>
<p>The majority of deaths from cardiovascular disease are in low- and middle-income countries, so that's where we focus our attention.</p>

<div class="columns columns-3">
    
    <div class="column">
        <div class="image"><a href="/hypertension"><img src="/images/htn-small.png" alt="Hypertension control"></a></div>
        <h3>Objective 1</h3>
        <p><strong>Improve global control of blood pressure from 14% to 50%.</strong> Only about 1 in 7 people (14%) in the world has their blood pressure under control. There are simple, proven solutions to improve that ratio for as little as $1 per person each year. <a href="/hypertension">More...</a></p>
    </div>
    
    <div class="column">
        <div class="image"><a href="/sodium"><img src="/images/sodium-small.png" alt="Sodium reduction"></a></div>
        <h3>Objective 2</h3>
        <p><strong>Reduce global dietary sodium intake by 30%.</strong> Reducing salt is proven to significantly reduce deaths from cardiovascular disease. Eating too much salt causes more than 2 million deaths each year from high blood pressure. <a href="/sodium">More...</a></p>
    </div>
    
    <div class="column">
        <div class="image"><a href="/transfat"><img src="/images/trans-fats-small.png" alt="Eliminate trans fat"></a></div>
        <h3>Objective 3</h3>
        <p><strong>Eliminate artificial trans fats from the global food supply.</strong> 14 years ago, just 1 country took action to cut trans fat from their food supply. Today it’s more than 25. Eliminating trans fat will save 17 million lives over the next three decades. <a href="/transfat">More...</a></p>
    </div>
    
    <div class="clear"></div>
</div>

<h2>How we work </h2>

<div class="image-float">
    <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(17)32443-1/fulltext?code=lancet-site"><img src="/images/lancet-100millionlives.jpg" alt="Lancet: Saving an additional 100 million lives"></a>
</div>

<p>We work closely with partners, governments and civil society to help countries improve the heart health of their citizens. We work directly with countries, or through our partners, to fund and develop customized cardiovascular disease prevention programs based on the most recent evidence-based practices.</p>
<p>Please <a href="/contact">contact us</a> if you would like to discuss how we could work together to improve cardiovascular health in low- and middle-income countries.</p>
<p>Read about our work on each of the three goals: <a href="/hypertension">hypertension control</a>, <a href="/sodium">sodium reduction</a>, and <a href="/transfat">elimination of artifical trans fat</a>.</p>
<h3>The Lancet</h3>
<p>In September 2017, Dr Tom Frieden and Michael Bloomberg authored <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(17)32443-1/fulltext?code=lancet-site">Saving an additional 100 million lives</a> in The Lancet, which outlined the broad goals that laid the foundation for our work.</p>
<h3>Circulation</h3>
<p>In June of 2019, <em>Circulation</em> published <a href="/images/resources/Kontis-Three-Public-Health Interventions-Could-Save-94-Million-Lives-2019.pdf">“Three Public Health Interventions Could Save 94 Million Lives in 25 Years Global Impact Assessment Analysis”</a>, demonstrating the life-saving potential of cardiovascular disease prevention on a global scale.</p>