---
title: "Contact us"
section: "contact"
---

<h1>Contact us</h1>

<p class="intro">Please note that Resolve to Save Lives works with existing partners and does not accept unsolicited grant proposals; grant proposals are by invitation only. Thank you for your interest and understanding.</p>

<h2>Contact form</h2>
<p>Either contact us using the form below or email contact@resolvetosavelives.org</p>
<form>
    <div class="form-row">
        <label for="name">Your name</label>
        <input type="text">
    </div>
    
    <div class="form-row">
        <label for="name">Email</label>
        <input type="text">
    </div>
    
    <div class="form-row">
        <label for="name">Subject</label>
        <input type="text">
    </div>
    
    <div class="form-row">
        <label for="message">Message</label>
        <textarea rows="10"></textarea>
    </div>
    
    <div class="form-button">
        <button>Submit</button>
    </div>
</form>

<h2>Press inquiries</h2>

<p>Our staff includes the world’s leading experts in disease preparedness and global heart health, and are committed to helping journalists report on these issues.</p>

<p>Contact for media requests: press@vitalstrategies.org</p>

<h2>Offices</h2>

<p>New York City<br>
100 Broadway, 4th Floor<br>
New York, NY 10005</p>

<p>New Delhi<br>
Address line 1<br>
Address line 2</p>