---
title: "Hypertension control"
section: "hypertension"
---

<h1>Controlling high blood pressure will save millions of lives</h1>

<p class="intro">Hypertension kills more people than any other condition. Approximately 10 million people die each year, more than from all infectious diseases combined. Reducing blood pressure prevents stroke, heart attack, kidney damage, and other health problems.</p>

<div class="graph">
<div class="video-wrapper image">
    <a href="/images/htn-chart.png">
    <video autoplay id="video-html">
        <source src="/images/htn-chart.mp4" type="video/mp4">
        <img src="/images/htn-chart.png" alt="">
    </video>
    </a>
    <div id="video-countdown">10</div>
</div>
</div>

<p>An estimated 1.4 billion people worldwide have high blood pressure, but just 1 in 7 people have it under control. Health providers in high- and low-income countries, urban and rural areas, and across different health systems show it can be done. Canada has reached nearly 70% control nationwide, and Barbados and Malawi have shown it is possible to increase control rates rapidly.</p>

<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>

<h2>Our approach</h2>

<p>We believe in speed, simplicity, and scale. We work with global, national and local partners to help scale up proven strategies to improve control of high blood pressure, including:

    
<div class="image-float"><a href="/images/resources/Punjab-Hypertension-Protocol.pdf"><img src="/images/poster-punjab.jpg"> Protocol poster from Punjab, India</a></div>

<h3>Simple, proven treatment protocols</h3>
<p>Practical treatment protocols with specific medications, dosages, and steps to take if blood pressure is not controlled.</p>

<h3>Community-based care and task sharing</h3>
<p>Health workers who are accessible to patients in their communities can provide, adjust and intensify medication regimens per physician orders and protocols.</p>

<h3>Ensure supply of medications</h3>
<p>It is critical to get the right medications to the right place at the right time to reach the patients who need them. Regular and uninterrupted medications is necessary for treatment.</p>

<h3>Patient-centered care</h3>
<p>Patient-centered care that reduce the barriers to adherence such as easy-to-take medicine regimens, free medications and follow up visits, and readily 
available blood pressure monitoring.</p>

<h3>Information systems</h3>
<p>We are leveraging technology to develop information systems that allow continuous, real-time program improvement to determine how patients and providers are doing and catalyze rapid improvements.</p>

<div class="graph">
    <div class="image"><a href="/images/htn-1-in-7.png"><img src="/images/htn-1-in-7.png" alt=""></a></div>
    <div class="caption">Globally, only 1 of every 7 people has their hypertension under control</div>
</div>

<h2>What we're doing</h2>

<p>The World Health Organization (WHO) has created the global HEARTS protocol to bring a consistent, proven treatment methodology for hypertensive patients. Countries are choosing the appropriate protocol from the <a href="#">HEARTS technical package</a>. There are a lot of factors that need to align to practically get these programs off the ground and to make them effective &#8212; we are helping countries to make it happen.</p>

<p>The Government of India and the state of Punjab were the first places to implement the protocol. Starting in January 2018, all adult patients are having their blood pressures taken and doctors have been trained to follow an easy-to-follow treatment algorithm.</p>

<div class="photo photo-array-3">
    <div class="image">
        <a href="/images/photo-1.jpg"><img src="/images/photo-1.jpg" alt=""></a>
        <a href="/images/photo-5.jpg"><img src="/images/photo-5.jpg" alt=""></a>
        <a href="/images/photo-4.jpg"><img src="/images/photo-4.jpg" alt=""></a>
    </div>
    <div class="caption">Hypertension treatment in India, Thailand, and China in 2018</div>
</div>

<h3>Systems for Monitoring</h3>
<p>The "S" in HEARTS stands for "Systems for monitoring." We are supporting monitoring systems to improve the efficacy of hypertension treatment projects. Resolve to Save Lives is guiding the <a href="http://simple.org">Simple.org</a> project to build a focused tool for healthcare workers to monitor their high blood pressure patients over time. We are also building dashboards to help administrators to oversee their programs in close to real time. And, our informatics experts help countries to integrate their systems effectively so leaders can get on the same page.</p>

<div class="resources">
    <h2>Resources</h2>
    <a href="#" class="document-link"><img src="/images/one-pager.png" alt=""> TBD</a>
    <a href="#" class="document-link"><img src="/images/book.png" alt=""> TBD</a>
    <a href="/images/resources/Resolve_HypertensionProtocols_V406.pdf" class="document-link"><img src="/images/document.png" alt=""> Single pill combination as first-line treatment</a>
    <a href="/images/resources/Resolve_Hypertension_CCB_V405.pdf" class="document-link"><img src="/images/document.png" alt=""> Calcium channel blocker as first-line treatment</a>
    <a href="#" class="document-link"><img src="/images/video.png" alt=""> TBD</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> TBD</a>
    <a href="#" class="document-link"><img src="/images/video.png" alt=""> TBD</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> TBD</a>
</div>

<h2>Procurement</h2>
<p>Resolve to Save Lives purchases some materials to catalyze change. For instance, we purchase blood pressure monitors and some generic hypertension medications in India. We believe it is important to be transparent about the way these purchases are made.</p>
<ul>
    <li><a href="#">Contract from Acme Company ABC</a></li>
    <li><a href="#">Contract from Company 2345 for item 6789</a></li>
</ul>