---
title: "Hypertension control"
section: "hypertension"
---

<h1>Help millions of people to control their high blood pressure</h1>

<p class="intro">Hypertension kills more people than any other condition. Approximately 10 million people die each year, more than from all infectious diseases combined.<span class="footnote">1</span> Reducing blood pressure prevents stroke, heart attack, kidney damage, and other health problems.</p>

<p>An estimated 1.4 billion people worldwide have high blood pressure, but just 14% have it under control.<span class="footnote">2</span> Health providers in high- and low-income countries, urban and rural areas, and across different health systems show it can be done. Canada has reached nearly 70% control nationwide,<span class="footnote">3</span> and Barbados and Malawi have shown it is possible to increase control rates rapidly.<span class="footnote">4</span></p>

<div class="graph">
    <div class="image"><img src="/images/sample-graph.png" alt=""></div>
</div>

<h2>What we're doing</h2>

<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>

<h3>Simple, proven treatment protocols</h3>
<div class="image-float"><img src="images/poster-punjab.jpg"> Example protocol poster from Punjab, India</div>
<p>The World Health Organization (WHO) has created the global HEARTS protocol to bring a consistent, proven treatment methodology for hypertensive patients. States are choosing the appropriate protocol from the <a href="#">HEARTS technical package</a> and working with their clinical staff to implement.</p>
<p>The Government of India and the state of Punjab were the first places to implement the protocol. Starting in January 2018, all adult patients are having their blood pressures taken and doctors have been trained to suggest lifestyle changes and to prescribe medications based on a simple, easy-to-follow algorythm.</p>
<p>Example protocols:
    <a href="#" class="document-link">Single pill combination as first-line treatment (PDF)</a>
    <a href="#" class="document-link">Calcium channel blocker as first-line treatment (PDF)</a>
</p>

<h3>Simple measurement tools</h3>

<p>What gets measured can be managed. This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<div class="photo photo-array-3">
    <div class="image">
        <a href="/images/photo-1.jpg"><img src="/images/photo-1.jpg" alt=""></a>
        <a href="/images/photo-2.jpg"><img src="/images/photo-2.jpg" alt=""></a>
        <a href="/images/photo-3.jpg"><img src="/images/photo-3.jpg" alt=""></a>
    </div>
    <div class="caption">Hypertension treatment in NCD clinics in Punjab, 2018</div>
</div>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>
<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<div class="resources">
    <h2>Resources</h2>
    <a href="#" class="document-link document-pdf">Download one-pager about this project</a>
    <a href="#" class="document-link document-bibliography">Hypertension control annotated bibliography</a>
    <a href="#" class="document-link document-pdf">Single pill combination as first-line treatment (PDF)</a>
    <a href="#" class="document-link document-pdf">Calcium channel blocker as first-line treatment (PDF)</a>
    <a href="#" class="document-link document-video">Video: Dr. Prabhdeep Kaur on controlling hypertension in India</a>
    <a href="#" class="document-link document-url">Training materials for healthcare workers</a>
    <a href="#" class="document-link document-video">Video tutorials on taking accurate blood pressure readings</a>
    <a href="#" class="document-link document-url">Lancet article on hypertension burden</a>
</div>