---
title: "Hypertension control"
section: "hypertension"
---

<h1>Improve hypertension control for millions of people</h1>

<p class="intro">We aim to reduce deaths from high blood pressure by assisting countries to reduce sodium in foods, banning trans-fats, and increasing the efficacy of blood pressure diagnosis and treatment.</p>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<div class="graph">
    <div class="image"><img src="/images/htn-graph.jpg" alt=""></div>
</div>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<h2>Simple application</h2>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<div class="graph">
    <div class="image"><img src="/images/htn-graph.jpg" alt=""></div>
</div>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>
<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>