---
title: "Hypertension control"
section: "hypertension"
---

<h1>Improve hypertension control for millions of people</h1>

<p class="intro">More than 18 million people die each year from cardiovascular disease (CVD), despite the availability of effective, inexpensive, and safe prevention and treatment.</p>

<p>While there is much more progress to be made, CVD deaths have decreased dramatically in higher income countries. Achieving similar declines worldwide would save millions of lives and reduce medical costs.  Currently, less than 1% of the $35 billion spent each year on health assistance is for CVD prevention.</p>

<div class="graph">
    <div class="image"><img src="/images/htn-graph.jpg" alt=""></div>
</div>

<h2>Our plan</h2>

<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>

<h2>Simple, proven treatment protocols</h2>
<div style="float: right; margin: 0 0 32px 32px; width: 200px; text-align: center; font-family: 'Caveat'; color: rgba(247,140,109,1); font-size: 14px; line-height: 1.3; letter-spacing: 0.05em;"><span style="display: block; margin: 0 0 10px 0; width: 200px; height: 260px; background: #fff; box-shadow: 2px 2px 15px rgba(0,0,0,0.05);"></span> Example protocol from Punjab, India</div>
<p>The World Health Organization (WHO) has created the global HEARTS protocol to bring a consistent, proven treatment methodology for hypertensive patients. States are choosing the appropriate protocol from the <a href="#">HEARTS technical package</a> and working with their clinical staff to implement.</p>
<p>The Government of India and the state of Punjab were the first places to implement the protocol. Starting in January 2018, all adult patients are having their blood pressures taken and doctors have been trained to suggest lifestyle changes and to prescribe medications based on a simple, easyt-to-follow algorythm.</p>

<h2>What gets measured can be managed</h2>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>

<div class="photo">
    <div class="image"><img src="/images/sample.jpg" alt=""></div>
    <div class="caption">Hypertension treatment in NCD clinics in Punjab, 2018</div>
</div>

<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>
<p>This is what we do. Improve hypertension control for millions of people. Improve hypertension control for millions of people.Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people. Improve hypertension control for millions of people</p>