---
title: "Stepping Up to Preparedness"
section: "improving"
---

<h1>Step up to preparedness for epidemics</h1>

<p class="intro">We work with countries to "step up" their preparedness so they can make incremental, measurable progress toward sustainable health systems that protect their citizens from disease.</p>

<div class="graph-2">
    <div class="image"><a href="/images/step-up-start.png"><img src="/images/step-up-start.png" alt=""></a></div>
    <div class="image"><a href="/images/step-up-next.png"><img src="/images/step-up-next.png" alt="" style="margin-right: 0;"></a></div>
    <div style="clear: both;">&nbsp;</div>
    <div class="caption">Updated Dec 6, 2018</div>
</div>

<h2>The JEE is the first step</h2>
<p>The <a href="http://apps.who.int/iris/bitstream/handle/10665/204368/9789241510172_eng.pdf?sequence=1">Joint External Evaluation</a> (JEE), a voluntary, externally-validated assessment of each country's ability to find, stop and prevent health threats, was developed to track preparedness around the world. Many countries still need to complete the JEE. Those that have completed the JEE are aware of their preparedness gaps and now need to step up.</p>
<p>But, we know progress is complex and daunting. There are hundreds of things that need to be improved to holistically prepare for the next epidemic and many people must coordinate to make progress.</p>

<h2>What are we doing?</h2>
<p>Our support focuses on working with countries to "Step Up" in critical areas assessed by the JEE. We help countries "Step Up" by making incremental changes that get them from red to yellow and yellow to green. This includes laboratory networks, disease surveillance systems, emergency response capabilities and a trained and ready workforce. Rapid, significant progress is possible.</p>

<div class="graph">
<div class="video-wrapper image">
    <a href="/images/step-up-progress.png">
    <video autoplay id="video-html">
        <source src="/images/pe-maps.mp4" type="video/mp4">
        <img src="/images/step-up-progress.png" alt="">
    </video>
    </a>
    <div id="video-countdown">10</div>
</div>
</div>