---
title: "Improving your score"
section: "improving"
---

<h1>Step up to preparedness for epidemics</h1>

<p class="intro">We work with countries to step up their preparedness so they can make incremental, measurable progress toward sustainable health systems that protect their citizens from disease.</p>

<p>Disease knows no borders. It takes just 36 hours for an infectious disease to spread  around  the  world. Any  country  that  is  not  prepared  for  disease  threats  cannot  protect  its citizens,  its  neighbors  and  the  global  community.  </p>

<p>The  <a href="http://apps.who.int/iris/bitstream/handle/10665/204368/9789241510172_eng.pdf?sequence=1">Joint  External  Evaluation</a>  (JEE),  a  voluntary,  externally-validated assessment  of  each  country's  ability to find,  stop  and  prevent health  threats, was developed to track preparedness around the world.</p>

<div class="graph">
    <div class="image"><a href="/images/step-up-chart.png"><img src="/images/step-up-chart.png" alt=""></a></div>
</div>

<h2>What are we doing?</h2>
<p>Resolve  to  Save  Lives  is  committed  to  making  the  world  safer  from  epidemics. Our  team  provides  technical  assistance  to  at-risk  countries  directly  or  through  partners,  mobilizes  resources  to  support  priority  actions,  and  catalyzes  political  will  to  address  preparedness  gaps.  We  help  countries "Step  Up" by making  incremental  changes  that  get  them  from  red  to  yellow  and  yellow to  green.  Our  support  focuses  on  working  with  countries  to "Step  Up" in  critical  areas  assessed  by  the  JEE.</p>

<div class="graph">
    <div class="image"><a href="/images/step-up-progress.png"><img src="/images/step-up-progress.png" alt=""></a></div>
</div>