---
title: "Home"
section: "home"
---

<div class="home-feature">
    <p>We have one aim, to save millions of lives. There are two projects to achieve that aim: improve the treatment of cardiovascular disease and improve countries' preparedness for epidemics.</p>
</div>