---
title: "Home"
section: "home"
---

<div class="home-feature">
    <h1>We are a public health accelerator with one mission: to save lives</h1>
    <p>Resolve to Save Lives aims to prevent deaths from cardiovascular disease and from epidemics by helping governments and civil society to implement scalable, proven strategies. Our focus is on accelerating action in low- and middle-income countries.</p>
</div>
<div class="time">
    <p>Timeline will be below</p>
</div>