---
title: "Home"
section: "home"
---

<div class="home-feature-wrapper">
    <div class="home-feature">
        <h1>We are a public health accelerator with one mission: to save lives</h1>
        <p>Resolve to Save Lives aims to prevent deaths from cardiovascular disease and from epidemics by helping governments and civil society to implement scalable, proven strategies. Our focus is on accelerating action in low- and middle-income countries.</p>
    </div>
</div>
<div class="time">
    
    <div class="time-item time-left">
        <div class="time-date">August 5, 2018</div>
        <div class="time-content">
            <div class="image"><img src="/images/sample-graph.png" alt=""></div>
            <p>On the left, we describe what this graph is all about. Turns out, it's an important graph related to the big event we're doing at the new world congress event in that country we've been talking about.</p>
        </div>
    </div>
    
    <div class="time-item time-right" style="margin-top: 200px;">
        <div class="time-date">August 4, 2018</div>
        <div class="time-content">
            <p>Here on the right we write quite a bit of content sometimes. Whole paragraphs of contents with links and whatnot.</p>
        </div>
    </div>
    
    <div class="time-item time-right">
        <div class="time-date">August 3, 2018</div>
        <div class="time-content">
            <div class="image"><img src="/images/youtube-tom.jpg" alt=""></div>
            <p>Tom speaks in a new video we just added to our Youtube channel.</p>
        </div>
    </div>
    
    <div class="time-item time-left">
        <div class="time-date">August 2, 2018</div>
        <div class="time-content">
            <p>On the left, we published a journal article and we'd like to tell you all about it. It's not a big thing, but it's worth a few dozen words.</p>
        </div>
    </div>
    
    <div class="time-item time-left">
        <div class="time-date">August 1, 2018</div>
        <div class="time-content">
            <p>On the left, Susan Johnson joined our team. We're thrilled to have her.</p>
        </div>
    </div>
    
    <div class="time-item time-right">
        <div class="time-date">July 31, 2018</div>
        <div class="time-content">
            <div class="image"><img src="/images/youtube-cvd.jpg" alt=""></div>
            <p>We also put this great video online about cardiovascular disease.</p>
        </div>
    </div>
    
    <div class="line"></div>
</div>