---
title: "Jeannie Mantopoulos"
---

<h1>Jeannie Mantopoulos</h1>
<p class="intro">Chief Operating Officer</p>

<p>Jeannie Mantopoulos is the Chief Operating Officer for Resolve to Save Lives, an initiative of Vital Strategies. In this role, she provides leadership and management to promote operational excellence in Resolve’s two components: Resolve to Save 100 Million Lives and Resolve to Prevent Epidemics.</p>

<p>Jeannie is a global public health professional with over 10 years of management experience developing strategy, cultivating strong partnerships, and leading programs that are practical, evidence-based, and tailored to specific needs.  Prior to joining Resolve to Save Lives, Jeannie served as Director of Programs for Yale University’s Global Health Leadership Institute, where she was responsible for managing a large global team, grant development, program design, and leading implementation of the institute’s global health initiatives in Africa, Asia, UK, and the US.</p>

<p>Jeannie led the establishment of Yale University’s first country office for field operations and oversaw leadership programs that trained mid- and senior level health professionals in over 20 countries, including the first Masters degree program in healthcare administration in Africa (at Jimma University, Ethiopia).</p>

<p>Jeannie maintains a lectureship appointment with the Yale School of Public Health and is an International Advisory Committee Member for World of Children. Jeannie has a Bachelor of Arts degree in Economics from Hunter College and her Masters of Public Health from the Yale School of Public Health.</p>