---
title: "Program Officer: Cardiovascular Health"
---

<h1>Program Officer, Cardiovascular Health</h1>
<p class="intro">The Program Officer will support implementation of the Resolve to Save Lives cardiovascular health (CVH) initiative, with a focus on hypertension, and be part of a small New York City-based team.</p>


<h3>About us</h3>
<p>Vital Strategies is a US-based international public health organization working in more than 70 countries to address important and challenging health issues. We develop and oversee programs to strengthen public health systems and address leading causes of morbidity and mortality, providing expertise in project implementation and management, strategic communications, epidemiology and surveillance, and other core public health capacities. Our programs include road safety, obesity prevention, tobacco control, and activities to strengthen public health data systems and the use of public health data to guide policy and decision-making. Activities are based in low and middle-income countries in Africa, Latin America, Asia and the Pacific.</p>

<div class="image-float"><a href="/images/program-officer-cvh.pdf"><img src="/images/program-officer-cvh.jpg"> Download job description as a PDF</a></div>

<p>Resolve to Save Lives is a global health initiative that aims to save millions of lives by reducing preventable deaths from cardiovascular disease and to prevent infectious disease epidemics. Resolve to Save Lives is housed within Vital Strategies. Since September 2017, Resolve to Save Lives has been working closely with governments, the World Health Organization, academic and other civil society partners in a number of countries to build capacity for and implement a core package of interventions to reduce cardiovascular disease.</p>

<p>Resolve to Save Lives is seeking a Program Officer to support our global efforts to improve cardiovascular health.</p>

<h3>Overall role</h3>
<p>The Program Officer will support implementation of the Resolve to Save Lives cardiovascular health (CVH) initiative, with a focus on hypertension, and be part of a small New York City-based team. Responsibilities will include review of scientific research; development of technical materials; project and partner relations management; support to and reporting on the initiative’s activities in selected project countries. Hypertension control programming is being supported in India, China, Thailand, the Philippines, Vietnam, Bangladesh, Ethiopia, Nigeria, Turkey and the PAHO region. The Program Officer position will be assigned to a subset of these project countries and be expected to travel internationally.</p>

<h3>Specific duties</h3>

<p>The Program Officer will work under the guidance of and report to the Director, Global Hypertension Control Program.  They will work collaboratively with other members of the CVH team as well as in-country and global implementing partners and with Resolve’s technical consultants.  The incumbent will perform duties such as but not limited to the following:</p>
<ul>
<li>Support the establishment of country-level programs and assist in managing partner relations and communication</li>
<li>Review regular progress reports from in-country implementing partners and generate summaries and recommendations for the initiative’s Director, Global Hypertension Control</li>
<li>Liaise with, monitor, track progress and report on project implementation by in-country and other partners</li>
<li>Contribute to program strategy decisions and help troubleshoot bottlenecks in program implementation </li>
<li>Synthesize scientific and technical information such as scientific journal articles, reports, or news summaries related to hypertension to inform prioritization and planning of activities</li>
<li>Develop presentations, technical and other communications materials regarding hypertension, blood pressure devices and medications</li>
<li>Support review of grant proposals for hypertension reduction activities in priority low and middle-income countries
<li>Assist in the planning and facilitation of periodic partner convenings to discuss and share technical information and lessons from the implementation of cardiovascular health interventions</li>
<li>Represent the CVH initiative at international conferences and meetings and with implementing partners </li>
</ul>

<h3>Required qualifications</h3>
<ul>
<li>Master’s degree in public health or a related field such as nursing or pharmaceutical sciences, with 5 or more years of relevant work experience; or a bachelor’s degree in nursing or pharmacy with at least 7 years of experience in public health program management and/or health systems administration </li>
<li>Exceptional organizational skills</li>
<li>Proven analytical skills</li>
<li>Clear, effective and highly efficient writing skills </li>
<li>Demonstrated ability to work under pressure and deliver against tight deadlines</li> 
<li>Well-developed interpersonal skills for harmonious internal team work and global partnerships across cultures</li>
<li>Experience working in low- and middle-income settings</li>
<li>Understanding of health policy and regulatory issues concerning clinical / patient care </li>
<li>Flexible, collaborative work style yet capable of working independently </li>
<li>Willingness to travel up to 35%</li>
<li>Proficiency in languages in addition to English a plus </li>
</ul>

<h3>How to apply</h3>
<p>Please send your CV and a cover letter, including your salary requirements, to <a href="mailto:opportunities@resolvetosavelives.org">opportunities@resolvetosavelives.org</a>.  Applications will be received until the position is filled. Please note that only shortlisted candidates will be contacted. </p>

<p>Vital Strategies is an equal opportunity employer. All aspects of employment including the decision to hire, promote, discipline, or discharge, will be based on merit, competence, performance, and business needs. We do not discriminate on the basis of race, color, religion, marital status, age, national origin, ancestry, physical or mental disability, medical condition, pregnancy, genetic information, gender, sexual orientation, gender identity or expression, veteran status, or any other status protected under federal, state, or local law.</p>
