---
title: "LINKS Community"
section: "links"
---

<h1>LINKS is a global community for cardiovascular health</h1>

<p class="intro">We helped create <a href="http://www.linkscommunity.org">LINKS</a>, which provides resources, support and networking opportunities that support country programs for cardiovascular health</p>

<div class="image-float"><a href="http://www.linkscommunity.org"><img src="/images/photo-3.jpg"> Peer-to-peer contact is one benefit of the LINKS community</a></div>

<p>Membership in the LINKS community is free and is designed for those working to improve cardiovascular health in developing global settings.</p>

<p><a href="http://www.linkscommunity.org" class="button">LINKScommunity.org</a></p>

<h2>Members have exclusive access to:</h2>
<ol>
    <li>Peer-to-peer contact with others working at a high level in cardiovascular health around the world</li>
    <li>Participation in webinars and events for members</li>
    <li>Opportunity to apply for technical assistance or funding support to eligible programs</li>
</ol>

<!--img src="/images/links-screens.jpg" alt="" style="width: 100%;"-->

<h2>Who is behind LINKS?</h2>
<p>LINKS is a collaborative effort of the World Health Organization, the CDC Foundation, and Resolve to Save Lives, an initiative of Vital Strategies.</p>

<h2>Who is eligible for membership in LINKS?</h2>

<p>Professionals associated with governments, academic institutions, civil society organizations or the private sector are welcome to apply. Your organization’s strategies should align with at least one of the following:</p>
<ul>
    <li><p><strong>Hypertension control:</strong> Reporting on hypertension using the WHO HEARTS technical package monitoring indicators, or selecting standard hypertension treatment protocols</p></li>
     
    <li><p><strong>Salt reduction:</strong> Reduction of population sodium intake through strategies outlined in the WHO SHAKE technical package and appropriate to the country’s primary sources of dietary sodium</p></li>
     
    <li><p><strong>Elimination of artificial trans fat:</strong> Eliminating trans fatty acids from the food supply as described in the WHO REPLACE technical package</p></li>
</ul>