---
title: "Dr. Marc Jaffe"
---

<h1>Marc G. Jaffe, MD</h1>
<p class="intro">Senior Vice President, Cardiovascular Health</p>

<img src="/images/team/large/Jaffe_Marc.jpg" alt="" class="bio-photo">

<p>Dr. Jaffe is the Senior Vice President of our Cardiovascular Health initiative. Dr. Jaffe led the creation of the Kaiser Permanente Northern California Hypertension Program, the Kaiser Permanente Cardiovascular Risk Reduction (“PHASE- Preventing Heart Attacks and Strokes Everyday”) Program, and developed and led the Kaiser National Integrated Cardiovascular Health Guideline Team.</p>

<p>Dr. Jaffe joined Kaiser Permanente in 1993. In 2000 he led the establishment of the Kaiser Permanente Northern California Hypertension Program, and blood pressure control rates doubled from 41% to the 85-90% range over 10 years.  In 2004, he led the creation of the Kaiser Permanente Northern California PHASE program which designs, implements, and evaluates the delivery of cardiovascular preventive services to high risk individuals with diabetes or cardiovascular disease. The PHASE and Hypertension programs have contributed to sustained high performance on externally reported cardiovascular quality metrics as well as significant reductions in cardiovascular events over the past several years.</p>

<p>From 2009 to 2017 he was the Clinical Leader of the Kaiser National Integrated Cardiovascular Health Guideline Team, where he led prioritization, development, alignment, and dissemination of comprehensive evidence based cardiovascular guidelines all the Kaiser Permanente Regions in the United States.  From 2013-2015 he served as a consultant to the Centers for Disease Control (CDC) for the Global Standardization Treatment Project and from 2015 -2017 he was a technical advisor for the World Health Organization/PanAmerican Health Organization Hypertension Program. In September 2017, he joined Resolve as the Senior Vice President of Cardiovascular Health, with the goal of preventing 100 million deaths from cardiovascular disease in low and middle-income countries.</p>

<p>Dr. Jaffe attended the University of California at Berkeley and the Baylor College of Medicine in Houston, Texas.  He completed residency at the University of California, San Diego, and did his Endocrinology fellowship at the University of California, San Francisco. He is an Associate Clinical Professor of Medicine at the University of California, San Francisco, Medical School. He is board certified in Internal Medicine and in Diabetes, Endocrinology, and Metabolism. Dr. Jaffe has numerous publications on the subject of cardiovascular population care, and frequently lectures locally, nationally and internationally.</p>

<h3>Press photo</h3>
<p><a href="/images/team/large/Jaffe_Marc.jpg">Download</a> a full resolution photo of Dr. Marc Jaffe.</p>