---
title: "Press releases"
section: "press"
---

<h1>Press releases</h1>

<div class="release" id="pe-website">
    <h5>New Website for Francophone Africa Shows Most Countries are not Prepared for an Epidemic
Prevent</h5>
    <p class="date">(New York, USA) Oct. 17,2019</p>
    <p class="intro">Epidemics.org Highlights Gaps in Preparedness and Encourages Action to Save Lives</p>


<p>The world will face another epidemic, but most countries are not ready to find, stop, and prevent its spread. A website that was just launched in French, <a href="https://preventepidemics.org/">PreventEpidemics.org</a>, spotlights gaps in preparedness and highlights actions countries, donors, activists, and organizations can take to fill them. <a href="https://www.resolvetosavelives.org/">Resolve to Save Lives</a>, an initiative of <a href="https://www.vitalstrategies.org/">Vital Strategies</a>, first released <a href="https://preventepidemics.org/">PreventEpidemics.org</a> in English in 2018. Now, the information is available in French to facilitate understanding of preparedness gaps and strengths among journalists and advocates in Francophone Africa.</p>

<p>The website is the first to provide advocacy tools based on each country’s progress towards epidemic preparedness, and a single number ⁠— the ReadyScore&reg;⁠— that details how prepared countries are to find, stop and prevent epidemics. The site also features an interactive map showing real time international flights and outbreak alerts overlaid on ReadyScores. </p>

<p>&ldquo;By the end of this year, nearly 120 countries will have completed a rigorous, transparent assessment of how prepared they are for an epidemic, but there has been too little progress closing life-threatening gaps,&rdquo; says Dr. Tom Frieden, President and CEO of Resolve to Save Lives and former US Centers for Disease Control and Prevention Director. &ldquo;It&rsquo;s not a matter of if there will be another global epidemic, but when. It&rsquo;s time for the global community and countries to step up and improve preparedness.&rdquo;</p>

<p><a href="https://www.resolvetosavelives.org/">Resolve to Save Lives</a> partners with countries to help them step up their preparedness through technical assistance, resource mobilization and catalyzing political will.</p> 

<p>&ldquo;How can we prevent a nurse in DRC from contracting measles, or a child in Senegal from getting malaria?&rdquo; said Marine Buissonniere, Senior Adviser, Resolve to Save Lives. &ldquo;Our website not only communicates the risk that epidemics will not be effectively managed, but, most importantly, encourages action to reduce these risks.&rdquo;</p>

<p>A key feature of PreventEpidemics.org is the <a href="https://preventepidemics.org/resources/behind-the-data/what-is-the-ready-score/">ReadyScore</a>, a measure of country preparedness based on existing data from the Joint External Evaluation (JEE), an external assessment developed by the World Health Organization and partner organizations to help countries find and close gaps in epidemic preparedness. ReadyScore uses JEE data to calculate a numerical score — from 0 to 100 — representing a country’s ability to prepare for and respond to an epidemic. These scores can drive action at the country and global level by motivating countries to step up preparedness overall and by specific area.</p>

<p>In Francophone Africa, there are a range of ReadyScores, from Senegal with 45 to the Central African Republic with 26, and each country has unique strengths and gaps. Senegal has strong immunization activities but can improve coordination of outbreak response. DRC scored 35 and is working to develop a trained workforce but struggling with preparedness. PreventEpidemics.org provides detailed information for countries and allows users to see how their own ReadyScore compares to a list of their neighbors. </p>

<p>PreventEpidemics.org provides a geo-targeted homepage, advocacy tools including detailed global- and country-level data, highlights of countries’ strengths and gaps, and action plans to engage decision makers to improve epidemic preparedness. </p>



<p>For further
information or to arrange an interview with a Resolve to Save Lives expert,
please contact <a href="mailto:ebradford@rtsl.org">ebradford@rtsl.org</a>.  </p>

<h4>Additional information:</h4>

<p>The ReadyScore
consolidates 19 areas of epidemic preparedness assessed during a JEE. Within
those areas, nearly 50 factors are assessed, such as whether a country has a national
laboratory system to diagnose diseases and the capacity of its public health
workforce to find, stop and prevent epidemics. The JEE rates each of these
indicators on a scale of 1 – 5. One is “no capacity” and is coded red. Two and
three indicate the “need to build capacity” (limited or developed capacity) and
are coded yellow. Four and five indicate “sustainable capacity” and are in the
desired green band. The ReadyScore is the average score of the nineteen area
scores, placed on a scale of 0 to 100.</p>

<h4>About Resolve
to Save Lives</h4>

<p>Resolve to Save
Lives is a five-year, $225 million initiative funded by Bloomberg
Philanthropies, the Chan Zuckerberg Initiative, and the Bill &amp; Melinda
Gates Foundation. It is led by Dr. Tom Frieden, former director of the US Centers
for Disease Control and Prevention, and housed at&nbsp;<a
href="https://www.vitalstrategies.org/">Vital Strategies</a>, which works in 73
countries with the vision of a world in which every person is protected by a
strong public health system. To find out more, visit&nbsp;<a
href="https://www.resolvetosavelives.org/">www.resolvetosavelives.org</a>&nbsp;or
Twitter&nbsp;<a href="https://twitter.com/resolveTSL">@ResolveTSL</a>.</p>

<h4>About Vital
Strategies</h4>

<p>Vital Strategies
is a global health organization that seeks to accelerate progress on the
world’s most pressing health problems. The Vital Strategies team combines
evidence-based strategies with innovation to help develop and implement sound
public health policies, manage programs efficiently, strengthen data systems, conduct
research, and design strategic communication campaigns for policy and behavior
change. To find out more, visit&nbsp;<a href="https://www.vitalstrategies.org/">www.vitalstrategies.org</a>&nbsp;or
Twitter&nbsp;<a href="https://twitter.com/vitalstrat">@VitalStrat</a>.</p>

</div>



<div id="pe-website-fr">
    
        <h5>Un nouveau site web pour l'Afrique
francophone d&eacute;montre que la plupart des pays ne sont pas pr&eacute;par&eacute;s &agrave; faire face
&agrave; une &eacute;pid&eacute;mie</h5>
    <p class="date">(New York, États-Unis) Oct. 17,2019</p>
    <p class="intro">PreventEpidemics.org souligne les lacunes
dans la pr&eacute;paration aux &eacute;pid&eacute;mies et encourage les actions visant &agrave; sauver des
vies</p>

<p>Une nouvelle
&eacute;pid&eacute;mie est in&eacute;vitable, mais la plupart des pays ne sont pas pr&ecirc;ts pour
pr&eacute;venir, d&eacute;tecter, et emp&ecirc;cher la propagation d&rsquo;une telle &eacute;pid&eacute;mie. <a href="https://preventepidemics.org/">PreventEpidemics.org</a>,
un site web qui vient d'&ecirc;tre lanc&eacute; en fran&ccedil;ais, souligne les lacunes en mati&egrave;re
de pr&eacute;paration aux &eacute;pid&eacute;mies et met en &eacute;vidence les actions que les pays, les
donateurs, les activistes et les organisations peuvent entreprendre pour
combler ces derni&egrave;res. <a href="https://www.resolvetosavelives.org/">Resolve to Save Lives</a>, une initiative de <a href="https://www.vitalstrategies.org/">Vital Strategies</a>, a mis en ligne pour la premi&egrave;re fois PreventEpidemics.org en
anglais en 2018. D&eacute;sormais, les informations sont disponibles en fran&ccedil;ais pour
faciliter la compr&eacute;hension des lacunes et des forces en mati&egrave;re de pr&eacute;paration
aux &eacute;pid&eacute;mies parmi les journalistes et les promoteurs de la sant&eacute; publique en
Afrique francophone.</p>



<p>Le site web est le premier &agrave; fournir des outils de
plaidoyer bas&eacute;s sur les progr&egrave;s de chaque pays en mati&egrave;re de pr&eacute;paration aux &eacute;pid&eacute;mies,
et un num&eacute;ro unique - le ReadyScore&reg; - d&eacute;taillant le niveau de pr&eacute;paration des
pays pour la pr&eacute;vention, la d&eacute;tection, et le contr&ocirc;le des &eacute;pid&eacute;mies. Le site
propose &eacute;galement une carte interactive montrant les vols internationaux en
temps r&eacute;el et les alertes d'&eacute;pid&eacute;mies combin&eacute;es aux ReadyScores.</p>



<p>&laquo; &Agrave; la fin de cette ann&eacute;e, pr&egrave;s de 120 pays auront
achev&eacute; une &eacute;valuation rigoureuse et transparente de leur niveau de pr&eacute;paration aux
&eacute;pid&eacute;mies, mais les progr&egrave;s accomplis pour combler les lacunes qui posent un
danger imm&eacute;diat pour les vies humaines sont insuffisants&raquo;, a d&eacute;clar&eacute; le Dr Tom
Frieden, Pr&eacute;sident et CEO de &lt;i&gt;Resolve to Save Lives&lt;/i&gt; et ancien directeur des
Centres am&eacute;ricains pour le contr&ocirc;le et la pr&eacute;vention des maladies. &laquo; Ce n&rsquo;est
pas une question de savoir s&rsquo;il y aura une autre &eacute;pid&eacute;mie mondiale, mais &lt;i&gt;quand&lt;/i&gt;.
Il est temps que la communaut&eacute; internationale et les pays intensifient leurs
efforts et am&eacute;liorent leur niveau de pr&eacute;paration.&raquo;</p>



<p>Les partenaires de <a href="https://www.resolvetosavelives.org/">Resolve to Save Lives</a>
aident les pays &agrave; renforcer leur niveau pr&eacute;paration aux &eacute;pid&eacute;mies en apportant
une assistance technique, en mobilisant des ressources et en catalysant la
volont&eacute; politique.</p>



<p>« Comment pouvons-nous éviter qu’une infirmière en République
démocratique du Congo contracte la rougeole, ou qu’un enfant au Sénégal attrape
le paludisme?» demande Marine Buissonnière, conseillère principale de <i>Resolve
to Save Lives</i>. «&nbsp;Non seulement notre site web signale le fait que des
risques épidémiques ne soient pas gérées efficacement, mais, surtout, encourage
les mesures visant à réduire ces risques. <a name="_Hlk22029531">»</a></p>



<p>Un élément clé de <a href="https://preventepidemics.org/">PreventEpidemics.org</a> est le <a href="https://preventepidemics.org/resources/behind-the-data/what-is-the-ready-score/">ReadyScore</a>,
une mesure du niveau de préparation des pays basée sur les données existantes
des Évaluations Externes Conjointes (EEC), réalisées par l’Organisation
mondiale de la Santé et des organisations partenaires pour aider les pays à identifier
et à combler les lacunes en matière de préparation aux épidémies. Le <i>ReadyScore</i>
utilise les données des EEC pour calculer un score numérique - compris entre 0
et 100 - représentant la capacité d’un pays à se préparer et à faire face à une
épidémie. Ces scores peuvent conduire à une action aux niveaux national et international
en motivant les pays à renforcer leur préparation globale et par domaine
spécifique.</p>



<p>En Afrique francophone, il existe une gamme de
ReadyScores, du Sénégal avec 45 à la République centrafricaine avec 26, et
chaque pays possède des forces et des lacunes uniques. Le Sénégal met en œuvre d’importantes
activités de vaccination mais peut encore améliorer la coordination de sa
riposte aux épidémies. La RDC a obtenu un score de 35 et travaille à la mise en
place d'une main-d'œuvre qualifiée, mais lutte avec des difficultés de
préparation. <a href="https://preventepidemics.org/">PreventEpidemics.org</a> fournit des informations détaillées
aux pays et permet aux utilisateurs de voir comment le ReadyScore de leur pays se
compare à ceux de leurs voisins.</p>



<p><a href="https://preventepidemics.org/">PreventEpidemics.org</a> fournit une page d’accueil
géo-ciblée, des outils de plaidoyer comprenant des données détaillées aux
niveaux international et national, les forces et les faiblesses des pays et des
plans d’action pour inciter les décideurs à améliorer leur niveau de
préparation aux épidémies.</p>



<p><a href="https://preventepidemics.org/">PreventEpidemics.org</a> reconnaît qu'aucun pays ne sera
jamais totalement à l'abri de la menace d'épidémies, mais des systèmes solides
et robustes pour détecter et contrer les menaces peuvent minimiser les maladies
évitables et les décès en cas de maladies infectieuses nouvelles ou émergentes.</p>



<p>Pour plus d'informations ou pour organiser une
interview avec un expert de <i>Resolve to Save Lives</i>, veuillez contacter <a href="mailto:mb@amediaagency.com">l’African Media Agency</a>.</p>


<h4>Informations supplémentaires:</h4>

<p>Le <i>ReadyScore</i> fusionne les 19 domaines de
préparation et de réponse aux épidémies évaluées au cours d’une EEC. Près de 50
facteurs sont évalués dans ces domaines, par exemple si un pays dispose d’un
système national de laboratoires pour diagnostiquer les maladies et de la
capacité de son personnel de santé publique à prévenir, détecter, et empêcher
la propagation des épidémies. L'EEC note le niveau d’avancement dans chacun de
ces domaines sur une échelle de 1 à 5.  1 correspond à « capacité absente » et
est codé en rouge. 2 et 3 indiquent le « besoin de renforcer les capacités »
(capacité limitée ou en place) et sont codés en jaune. 4 et 5 désignent une capacité
&nbsp;«&nbsp;démontrée&nbsp;» ou «&nbsp;pérenne » et se situent dans la bande
verte souhaitée. Le ReadyScore est le score moyen des 19 domaines présenté sur
une échelle allant de 0 à 100.</p>

<h4>À propos de Resolve to Save Lives</h4>

<p>Resolve to Save Livesest une
initiative quinquennale de 225 millions de dollars américains financée par
Bloomberg Philanthropies, l'Initiative Chan Zuckerberg et la Fondation Bill
&amp; Melinda Gates. Elle est dirigée par le Dr Tom Frieden, ancien directeur
des Centres américains pour le contrôle et la prévention des maladies, et
hébergée par <i>Vital Strategies</i>, une organisation qui travaille dans 73
pays avec la vision d'un monde dans lequel chaque personne est protégée par un
système de santé publique fort. Pour en savoir plus, visitez le site
<a
href="https://www.resolvetosavelives.org/">www.resolvetosavelives.org</a> ou Twitter <a href="https://twitter.com/resolveTSL">@ResolveTSL</a>.</p>

<h4>À propos de Vital Strategies</h4>

<p><i>Vital Strategies</i> est une
organisation internationale de santé publique qui vise à accélérer les progrès
concernant les problèmes de santé mondiale les plus urgents. L’équipe du Vital
Strategies associe des stratégies fondées sur des données probantes à
l’innovation afin de contribuer à l’élaboration et à la mise en œuvre de politiques
de santé publique fortes, à la gestion efficace des programmes, au renforcement
des systèmes de données, à la recherche et à la conception de campagnes de
communication stratégiques axées sur le changement de politique et de
comportement. Pour en savoir plus, visitez le site <a href="https://www.vitalstrategies.org/">www.vitalstrategies.org</a> ou
Twitter <a href="https://twitter.com/vitalstrat">@VitalStrat</a>.</p>

</div>



