---
title: "Prevent epidemics"
section: "prevent-epidemics"
---

<h1>Make the world safer from epidemics with advocacy and action</h1>

<p class="intro">Nearly 5 billion people are vulnerable to the next epidemic because they live in countries that have not rigorously assessed their ability to find, stop, and prevent diseases.</p>

<p>Our Prevent Epidemics team helps countries identify gaps in their preparedness and implement scalable solutions. Our team works across the spectrum in global health preparedness &#8212; engaging directly with ministers of health and in-country civil society groups, to steering global health security conversations at the White House and World Health Organization. By working both locally and globally, our small team accelerates progress to make the world safer from the next epidemic.</p>


<a href="http://preventepidemics.org"><img src="/images/preventepidemics-org.png" style="width: 106%; margin-left: -3%;"></a>
<div class="caption">We created <a href="http://preventepidemics.org">PreventEpidemics.org</a> to track countries' preparedness for epidemics.</div>
<!--div class="graph">
    <div class="image"><a href="https://preventepidemics.org/outbreak-map/"><img src="/images/epidemics-heatmap.png" alt="PreventEpidemics.org"></a></div>
    <div class="caption">We live in an interconnected world. Will you be prepared when the next threat arrives?</div>
</div-->

<h2>Funder &amp; implementer</h2>
<p>Resolve to Save Lives is both a funder and an implementer. We provide funds to select countries interested in improving their ability to find, stop and prevent disease threats, and we send our technical experts to the field to help countries implement their preparedness goals. We contribute to global preparedness strategies and help large institutions implement policies that will be effective at the local level. </p>

<h2>What we're doing</h2>
<p>By the end of 2018 nearly 100 countries will have conducted an externally validated assessment of their epidemic preparedness, identifying more than 5,000 gaps. Using their <a href="/readyscore">ReadyScore</a>, we work with countries and partners to “step up” in four key areas: laboratory networks, disease tracking systems, disease detectives, and rapid response teams. </p>

<div class="columns columns-3">
    
    <div class="column">
        <div class="image"><img src="/images/blank.jpg" alt=""></div>
        <p>Implementing and strengthening disease tracking systems so that unusual events are promptly noticed and investigated.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/blank.jpg" alt=""></div>
        <p>Training and supporting "disease detectives" &#8212; epidemiologists who track and investigate diseases and outbreaks.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/blank.jpg" alt=""></div>
        <p>Supporting laboratory networks so that new and emerging pathogens are recognized promptly.</p>
    </div>
    
    <div class="clear"></div>
</div>