---
title: "Prevent epidemics"
section: "prevent-epidemics"
---

<h1>Make the world safer from epidemics with advocacy and action</h1>

<p class="intro">The world is not ready for the next epidemic. Nearly 5 billion people are vulnerable to the next health threat because they live in countries that have not rigorously assessed their ability to find, stop, and prevent diseases. Those countries that have done an assessment have many gaps to fill.</p>


<a href="http://preventepidemics.org"><img src="/images/preventepidemics-org.png" style="width: 106%; margin-left: -3%;"></a>
<div class="caption">We created <a href="http://preventepidemics.org">PreventEpidemics.org</a> to track countries' preparedness for epidemics.</div>

<h2>Our approach</h2>
<p>We’re committed to helping countries <a href="/improving">identify gaps</a> in their preparedness and fill them, and to improving global policies and systems that protect the world from the next epidemic. We work locally and globally &#8212; engaging directly with ministers of health and in-country civil society groups, to steering global health security conversations at the White House and World Health Organization. By working across the spectrum, our small team accelerates progress to make the world safer from the next epidemic.</p>

<h2>What we're doing</h2>
<p>We provide technical, political and financial support to countries facing bottlenecks on their path to preparedness. This could mean helping a country develop their National Action Plan for Health Security, providing a one-time catalytic grant to address a preparedness gap, or identifying a legal framework to support preparedness legislation. We’re flexible and fast.</p>

<div class="columns columns-3">
    
    <div class="column">
        <div class="image"><img src="/images/pe-technical.jpg" alt=""></div>
        <h3>Technical</h3>
        <p class="first">We provide technical support to advance progress around WHO’s Joint External Evaluation.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/pe-political.jpg" alt=""></div>
        <h3>Political</h3>
        <p class="first">We help garner political support for preparedness, like establishing dedicated agencies for disease prevention.</p>
    </div>
    
    <div class="column">
        <div class="image"><img src="/images/pe-financial.jpg" alt=""></div>
        <h3>Financial</h3>
        <p class="first">We provide catalytic grants that can build long-term preparedness capacity and help with emergencies. </p>
    </div>
    
    <div class="clear"></div>
</div>

<h2>Where we work</h2>
<div class="graph">
    <div class="image"><a href="/images/pe-map.png"><img src="/images/pe-map.png" alt=""></a></div>
</div>