---
title: "Resources"
section: "preventing-epidemics-resources"
nav: "secondary"
---

<div class="second-nav">
    <h4>Resources</h4>
    <ol>
    <li><a href="#">How to use resources</a></li>
    <li><a href="#">Our methodology</a></li>
    </ol>
    
    <h4>Training staff</h4>
    <ol>
    <li><a href="#">Starting guide</a></li>
    <li><a href="#">Field observation</a></li>
    <li><a href="#">Lab work</a></li>
    <li><a href="#">Public health</a></li>
    <li><a href="#">Global health</a></li>
    <li><a href="#">Airport staff</a></li>
    <li><a href="#">Measurements</a></li>
    <li><a href="#">Testing modules</a></li>
    </ol>
    
    <h4>Field work</h4>
    <ol>
    <li><a href="#">Forms and guides</a></li>
    <li><a href="#">Using checklists</a></li>
    </ol>
    
    <h4>Budgeting</h4>
    <ol>
    <li><a href="#">How to budget</a></li>
    <li><a href="#">Whitepapers</a></li>
    <li><a href="#">Prioritization</a></li>
    <li><a href="#">Supporting materials</a></li>
    <li><a href="#">Example budgets</a></li>
    <li><a href="#">Calculators</a></li>
    </ol>
    
    <h4>Lab construction</h4>
    <ol>
    <li><a href="#">Architectural drawings</a></li>
    <li><a href="#">Equipment standards</a></li>
    <li><a href="#">Oversight standards</a></li>
    <li><a href="#">Example layouts</a></li>
    </ol>
    
    <div class="clear"></div>
</div>

<h1>Resources for preparing for epidemic response</h1>

<p>These resources are freely available to anyone planning for epidemics. Please contact us if you would like assistance in your preparations.</p>

<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>
<p>Increasing global control of blood pressure from the current 14 percent to 50 percent, reducing global dietary sodium intake by 30 percent, and eliminating artificial trans fats from foods would prevent more than 100 million deaths from heart disease over the next 30 years.  The global health care savings from effective management of blood pressure alone have been estimated at $100 billion per year.</p>