---
title: "ReadyScore"
section: "readyscore"
---

<h1>Like a report card for preparedness</h1>

<p class="intro">We created the ReadyScore, to determine whether a country is prepared to find, stop, and prevent epidemics. Visit <a href="http://preventepidemics.org">PreventEpidemics.org</a> to see each country's score.</p>

<p>The score uses data from the World Health Organization’s <a href="http://www.who.int/ihr/procedures/mission-reports/en/">Joint External Evaluation</a>. Like a report card, there are 19 areas of preparedness and response capacity that are scored, first by a group of national experts of the country and then by an external group of international experts. The ReadyScore is the average score of the 19 preparedness areas.</p>

<div class="graph">
    <div class="image"><a href="http://preventepidemics.org"><img src="/images/readyscore-map.png" alt="PreventEpidemics.org"></a></div>
    <!--div class="caption">The ReadyScore is important because it takes just 36 hours for an infectious disease to spread around the world.</div-->
</div>

<h2>Five levels</h2>
<div class="columns columns-3">

    <div class="column">
        <div style="background: #2FCC5B;" class="dot"></div>
        <h3>Better Prepared (80%+)</h3>
        <p>Country has a robust system to find, stop and prevent health threats. Should an outbreak start to spread, they should be able to find and stop it quickly to minimize the impact on human health, but they must remain vigilant.</p>
    </div>
    
    <div class="column">
        <div style="background: #F7DD20;" class="dot"></div>
        <h3>Work to Do (40-80%)</h3>
        <p>Country has assessed their ability to find, stop and prevent health threats. The results show they have some functioning systems in place should an outbreak start to spread. However, there is room for improvement and lives could be lost if a new health threat emerges.</p>
    </div>
    
    <div class="column">
        <div style="background: #E73535;" class="dot"></div>
        <h3>Not Ready (under 40%)</h3>
        <p>Country has assessed their ability to find, stop and prevent health threats and identified significant gaps. They are committed to improving epidemic preparedness, but an outbreak today could cause numerous deaths and spread to neighboring countries and the world.</p>
    </div>
</div>
<div class="columns columns-3">
    <div class="column">
        <div style="background: #87869A;" class="dot"></div>
        <h3>In Progress</h3>
        <p>Country has began the external evaluation process but no data is available at this time. There is not a robust way of knowing whether this country is prepared for an epidemic, but there will be in the near future.</p>
    </div>
    
    <div class="column">
        <div style="background: #575474;" class="dot"></div>
        <h3>Unknown</h3>
        <p>Country has not volunteered to have an external, transparent evaluation of their ability to find, stop and prevent health threats. Without this robust assessment we cannot be certain they are ready prevent epidemics.</p>
    </div>
<div style="clear: both;"></div>
</div>

<h2>What we're doing</h2>

<p>We work with countries to step up their preparedness so they can make incremental, measurable progress toward sustainable health systems that protect their citizens from disease.</p>

<div class="graph">
    <div class="image"><a href="/images/step-up-chart.png"><img src="/images/step-up-chart.png" alt=""></a></div>
</div>

<p>Resolve  to  Save  Lives  is  committed  to  making  the  world  safer  from  epidemics. Our  team  provides  technical  assistance  to  at-risk  countries  directly  or  through  partners,  mobilizes  resources  to  support  priority  actions,  and  catalyzes  political  will  to  address  preparedness  gaps.  We  help  countries "Step  Up" by making  incremental  changes  that  get  them  from  red  to  yellow  and  yellow to  green.  Our  support  focuses  on  working  with  countries  to "Step  Up" in  critical  areas  assessed  by  the  JEE.</p>

<h3>Closing preparedness gaps</h3>

<!--div class="image-float"><a href="http://apps.who.int/iris/bitstream/handle/10665/204368/9789241510172_eng.pdf?sequence=1"><img src="/images/jee-cover.jpg"> Joint External Evaluation Tool (JEE)</a></div-->

<p>The ReadyScore helps identify preparedness gaps and we can help you close them. These areas include monitoring systems that can spot unusual health reports from local clinics, or trained disease detectives who can rapidly deploy when a new health threat is reported.</p>
<!--p><a href="http://PreventEpidemics.org">PreventEpidemics.org</a> shows which countries have done an assessment and assigns a score from 0 to 100 based on how well they performed in 19 preparedness areas and where their gaps are.</p!-->
<p>We highlight three of the critical areas that need to be worked on, which include include the laboratory system to diagnose diseases and confirm outbreaks; surveillance system to detect outbreaks; emergency response system to stop outbreaks; and the workforce to keep communities safe from outbreaks. We also identify a few of the lower scoring preparedness areas that could use improvement.</p>

<div class="graph">
    <div class="image"><a href="/images/step-up-progress.png"><img src="/images/step-up-progress.png" alt=""></a></div>
</div>
