---
title: "ReadyScore"
section: "readyscore"
---

<h1>ReadyScore is like a report card for preparedness</h1>

<p class="intro">We created the ReadyScore, to determine whether a country is prepared to find, stop, and prevent epidemics. Visit <a href="http://preventepidemics.org">PreventEpidemics.org</a> to see each country's score.</p>

<p>The ReadyScore is important because it takes just 36 hours for an infectious disease to spread around the world.</p>

<p>The score uses data from the World Health Organization’s Joint External Evaluation. Like a report card, there are 19 areas of preparedness and response capacity that are scored, first by a group of national experts of the country and then by an external group of international experts. The ReadyScore is the average score of the 19 preparedness areas.</p>

<div class="graph">
    <div class="image"><a href="http://preventepidemics.org"><img src="/images/readyscore-map.png" alt="PreventEpidemics.org"></a></div>
</div>

<h2>The ReadyScore relays five levels</h2>

<p><strong>Better Prepared (over 80%):</strong> Country has a robust system to find, stop and prevent health threats. Should an outbreak start to spread, they should be able to find and stop it quickly to minimize the impact on human health, but they must remain vigilant.</p>
    
<p><strong>Work to Do (40-80%):</strong> Country has assessed their ability to find, stop and prevent health threats. The results show they have some functioning systems in place should an outbreak start to spread. However, there is room for improvement and lives could be lost if a new health threat emerges.</p>

<p><strong>Not Ready (under 40%):</strong> Country has assessed their ability to find, stop and prevent health threats and identified significant gaps. They are committed to improving epidemic preparedness, but an outbreak today could cause numerous deaths and spread to neighboring countries and the world.</p></li>

<p><strong>In Progress:</strong> Country has began the external evaluation process but no data is available at this time. There is not a robust way of knowing whether this country is prepared for an epidemic, but there will be in the near future.</p>
    
<p><strong>Unknown:</strong> Country has not volunteered to have an external, transparent evaluation of their ability to find, stop and prevent health threats. Without this robust assessment we cannot be certain they are ready prevent epidemics.</p>

<div class="image-float"><a href="http://apps.who.int/iris/bitstream/handle/10665/204368/9789241510172_eng.pdf?sequence=1"><img src="/images/jee-cover.jpg"> Joint External Evaluation Tool (JEE) PDF</a></div>

<h2>What are Preparedness Gaps?</h2>

<p>Gaps are epidemic preparedness areas that countries have not established. These areas include monitoring systems that can spot unusual health reports from local clinics, or trained disease detectives who can rapidly deploy when a new health threat is reported. Each country should undergo an assessment to make sure they have preparedness areas in place.</p>
<p>PreventEpidemics.org shows which countries have done an assessment and assigns a score from 0 to 100 based on how well they performed in 19 preparedness areas. We highlight three of the critical areas that need to be worked on, which include include the laboratory system to diagnose diseases and confirm outbreaks; surveillance system to detect outbreaks; emergency response system to stop outbreaks; and the workforce to keep communities safe from outbreaks. We also identify a few of the lower scoring preparedness areas Joint External Evaluation (JEE) that could use improvement.</p>