---
title: "Resources"
section: "resources"
---

<h1>Resources to help implement programs</h1>

<div class="resources">
    <h2>Hypertension control</h2>
    <a href="#" class="document-link"><img src="/images/one-pager.png" alt=""> Download one-pager about this project</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Hypertension control annotated bibliography</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Single pill combination as first-line treatment (PDF)</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Calcium channel blocker as first-line treatment (PDF)</a>
    <a href="#" class="document-link"><img src="/images/video.png" alt=""> Video: Dr. Prabhdeep Kaur on controlling hypertension in India</a>
    <a href="#" class="document-link"><img src="/images/book.png" alt=""> Training materials for healthcare workers</a>
    <a href="#" class="document-link"><img src="/images/video.png" alt=""> Video tutorials on taking accurate blood pressure readings</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Lancet article on hypertension burden</a>
</div>

<div class="resources">
    <h2>Salt reduction</h2>
    
    <a href="#" class="document-link"><img src="/images/one-pager.png" alt=""> 1-pager on Salt Reduction</a>
    <a href="#" class="document-link"><img src="/images/book.png" alt=""> WHO SALT package</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Promotion of low-sodium salt</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Industry Salt Reduction Targets</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Front of pack labels for packaged food</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Reduce salt in restaurant foods</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Institutional Nutrition Standards </a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Behavior change communication to reduce discretionary salt use</a>
</div>

<div class="resources">
    <h2>Transfat elimination</h2>
    
    <a href="#" class="document-link"><img src="/images/one-pager.png" alt=""> 1-pager on artificial trans fat elimination</a>
    <a href="#" class="document-link"><img src="/images/book.png" alt=""> REPLACE package</a>

</div>