---
title: "Sodium reduction"
section: "sodium"
---

<h1>Sodium reduction is an obvious way to save many lives at low cost</h1>

<p class="intro">Eating too much salt causes more than 2 million deaths each year from high blood pressure. Limiting the amount of sodium in foods is possible, and can be done cheaply: about $0.40 per person.</p>

<div class="graph">
    <div class="image"><a href="/images/sodium-chart.png"><img src="/images/sodium-chart.png" alt=""></a></div>
    <div class="caption">Data from Study 1 published in Publication A <span class="footnote">1</span></div>
</div>

<p>Excess   sodium   increases   blood   pressure   and   risk   of   cardiovascular   disease.   
Globally,  excess  sodium  consumption  (>2.0g  per  day)  is  responsible  for  1.65  million  deaths from heart disease, stroke, and related causes each year. <span class="footnote">2</span> Four of five of these deaths occur in low- and middle-income countries, and nearly half are among people younger than 70. <span class="footnote">3</span></p>

<p>Average  sodium  intake  is  nearly  twice  the  recommended  level. In  181  of  187 countries, covering 99% of the world’s population, estimated average levels of sodium intake  exceed  the  World  Health  Organization’s  recommendation  of  2.0g  per  day, or just under one teaspoon per day.</p>

<div class="image-float"><img src="/images/guillaume-bolduc-209298-unsplash.jpg">Someone like Emily in Liverpool eats the same foods, but they're less salty</div>

<h2>How the United Kingdom produced results</h2>

<p>Sodium  intake  can  be  reduced.  
Experience  from  the  United  Kingdom  shows  that  
with  concerted  and  coordinated  effort,  food  manufacturers  can  substantially  reduce  
the sodium content of food. These strategies were associated with a 15% decrease in 
sodium consumption and a 40% decline in heart disease and stroke deaths in less than 
10 years.<span class="footnote">4</span>
    
<p>When  food  companies  and  restaurants  reduce  sodium,  they  put  choice  into  
consumers’  hands. Once  sodium  is  in  your  food,  you  can’t  take  it  out. Studies  show  
that when consumers are offered lower-sodium food, they only add a small fraction of 
the sodium back at the table. <span class="footnote">5</span></p>

<div class="graph">
    <div class="image"><a href="/images/sodium-story.png"><img src="/images/sodium-story.png" alt=""></a></div>
    <div class="caption">Data is from National Institues of Health (NIH) study<sup>4</sup></div>
</div>

<p>More of the UK story.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat vehicula turpis. Donec dui erat, interdum ac scelerisque eget, aliquet sed nunc. Donec congue sed tortor nec vestibulum. Sed vel porttitor nisl, non rhoncus libero. Mauris aliquam volutpat elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec volutpat vel velit et faucibus.</p>

<p>Nunc at molestie nunc. Vestibulum vitae ornare orci, nec lobortis felis. Vivamus vitae rhoncus enim, quis molestie leo. Cras faucibus pulvinar erat. Phasellus fringilla dui id tortor posuere, non porttitor lorem viverra. Nulla nec urna consectetur, tempor erat molestie, porttitor quam. In consectetur mi justo, ut accumsan tellus vulputate non. Nulla dictum libero ut tellus venenatis dapibus. Praesent et nunc euismod, tempus massa vel, iaculis ex. Sed sit amet ultrices metus. Donec quis tristique ipsum. </p>

<h2>What we are doing</h2>
<p>Resolve will work with local, national, and global partners to track sodium consumption 
rigorously and help scale up proven strategies to reduce sodium consumption. Through 
high-level  commitments  from  governments,  industry,  and  other  stakeholders,  and  by  
educating and empowering consumers, sodium reduction can save lives and money. 
Reducing  sodium  is  complementary  to  improving  treatment  of  high  blood  pressure.  
Sodium reduction lowers blood pressure and can reduce the number of people who 
need treatment.</p>

<div class="resources">
    <h2>Resources</h2>
    <a href="#" class="document-link document-pdf">Download one-pager about sodium reduction</a>
    <a href="#" class="document-link document-bibliography">WHO SALT package</a>
    <a href="#" class="document-link document-pdf">Handbook on a salt reduction advertising campaign (PDF)</a>
</div>

<div class="references">
    <h2>References</h2>
    <ol>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
    </ol>
</div>
