---
title: "Sodium reduction"
section: "sodium"
---

<h1>Sodium reduction is an obvious way to save many lives at low cost</h1>

<p class="intro">Eating too much salt causes more than 2 million deaths each year from high blood pressure. Limiting the amount of sodium in foods is possible, and can be done cheaply: about $0.40 per person.</p>

<div class="graph">
    <div class="image"><a href="/images/sodium-chart.png"><img src="/images/sodium-chart.png" alt=""></a></div>
</div>

<p>Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic.</p>

<h2>How the United Kingdom produced results</h2>

<p>Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic.</p>

<p>Photo of English kids eating bad food</p>

<p>Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic.</p>

<div class="graph">
    <div class="image"><a href="/images/sodium-story.png"><img src="/images/sodium-story.png" alt=""></a></div>
</div>

<p>Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. </p>

<p>Ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic. Lorem ipsum dolor sit amit dermalogic.</p>

<div class="resources">
    <h2>Resources</h2>
    <a href="#" class="document-link document-pdf">Download one-pager about sodium reduction</a>
    <a href="#" class="document-link document-bibliography">WHO SALT package</a>
    <a href="#" class="document-link document-pdf">Handbook on a salt reduction advertising campaign (PDF)</a>
</div>

<div class="references">
    <h2>References</h2>
    <ol>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
        <li>Frieden, Tom, et al. <em>Reducing salt consumption at the population level</em>. Published in <em>The Lancet</em> Aug 14, 2017.</li>
    </ol>
</div>
