---
title: "Sodium reduction"
section: "sodium"
---

<h1>Sodium reduction is an obvious way to save many lives at low cost</h1>

<p class="intro">Eating too much salt causes more than 2 million deaths each year from high blood pressure. Limiting the amount of sodium in foods is possible, and can be done cheaply: about $0.40 per person.</p>

<div class="graph">
    <div class="image"><a href="/images/sodium-chart.png"><img src="/images/sodium-chart.png" alt=""></a></div>
    <div class="caption">Data from...</div>
</div>

<p>Excess sodium increases blood pressure and risk of cardiovascular disease.   
Globally,  excess  sodium  consumption  (>2.0g  per  day)  is  responsible  for  1.65  million  deaths from heart disease, stroke, and related causes each year.  Four of five of these deaths occur in low- and middle-income countries, and nearly half are among people younger than 70.</p>

<p>Average  sodium  intake  is  nearly  twice  the  recommended  level globally. In  181 of 187 countries, covering 99% of the world’s population, estimated average levels of sodium intake  exceed  the  World  Health Organization’s recommendation of 2.0g per day, or just under one teaspoon per day.</p>

<div class="graph">
    <div class="image"><a href="/images/sodium-story.png"><img src="/images/sodium-story.png" alt=""></a></div>
    <div class="caption">Data is from National Institues of Health (NIH) study<sup>4</sup></div>
</div>

<h2>What we're doing</h2>
<p>Resolve to Save Lives works with local, national, and global partners to track sodium consumption 
rigorously and help scale up proven strategies to reduce sodium consumption. Through 
high-level  commitments  from  governments, industry, and other stakeholders,  and by  
educating and empowering consumers, sodium reduction is achievable.</p>
<p>Reducing  sodium  is  complementary  to  improving <a href="/hypertension">hypertension treatment</a>. Sodium reduction lowers blood pressure and will reduce the number of people who need treatment.</p>

<div class="resources">
    <h2>Resources</h2>
    
    <a href="#" class="document-link"><img src="/images/one-pager.png" alt=""> TBD</a>
    <a href="#" class="document-link"><img src="/images/book.png" alt=""> TBD</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Promotion of low-sodium salt</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Industry Salt Reduction Targets</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Front of pack labels for packaged food</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Reduce salt in restaurant foods</a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Institutional Nutrition Standards </a>
    <a href="#" class="document-link"><img src="/images/document.png" alt=""> Card: Behavior change to reduce discretionary salt use</a>
</div>
