---
title: "Dr. Tom Frieden"
---

<h1>Dr. Tom Frieden</h1>
<p class="intro">President and CEO</p>

<img src="/images/team/large/Frieden_Tom.jpg" alt="" class="bio-photo">

<p>Dr. Tom Frieden is one of the world’s leading public health experts.  Dr. Frieden is President and Chief Executive Officer of Resolve to Save Lives, a $225 million, 5-year initiative housed at Vital Strategies, a non-profit global health organization working toward the vision that all people are protected by a strong public health system. The Resolve to Save Lives initiative aims to save millions of lives from cardiovascular disease and make the world safer from epidemics.  Resolve to Save Lives is funded by Bloomberg Philanthropies, the Chan Zuckerberg Initiative, and the Bill & Melinda Gates Foundation. </p>

<p>Dr. Frieden was Director of the Centers for Disease Control and Prevention (CDC) from 2009 to 2017, and led the CDC work that helped end the Ebola epidemic.  Over the course of his career, he controlled the largest outbreak of multi-drug resistant tuberculosis ever to occur in the United States, helped establish the largest tuberculosis control program in the world in India, and directed efforts on several public health issues that led to a rapid increase in life expectancy in New York City.</p>

<p>Because of his leadership at CDC, Americans are safer from antibiotic resistance, foodborne and healthcare-associated infections, heart attacks, strokes, cancer, and exposure to dangerous pathogens.  A physician trained in internal medicine, infectious diseases, public health, and epidemiology, Frieden has published cutting-edge, widely cited research on a broad range of topics.  He has transformed the organizations he has led, creating global models of scientific rigor, maximum accountability, measurable impact, community engagement and increased staff morale.</p>

<p>As New York City Health Commissioner from 2002-2009, Dr. Frieden led efforts to reduce smoking, eliminate artificial trans fats from restaurants, initiate the country’s largest community-based electronic health records project, and eliminate colon cancer screening disparities, among other critical initiatives.  During his time as Commissioner, life expectancy in New York City increased by three years, a faster increase than in the United States as a whole.</p>

<p>Dr. Frieden also designed and launched Bloomberg Philanthropies’ Initiative to Reduce Tobacco Use, a program that has so far supported policies which have saved 30 million lives, with much more life-saving potential ahead.</p>

<p>From 1992-1996, he led New York City’s tuberculosis control program that reduced multidrug-resistant cases by 80 percent.  Dr. Frieden then worked in India helping build a tuberculosis control program that has saved more than three million lives.</p>

<p>Dr. Frieden received medical and public health degrees from Columbia University, completed infectious disease Fellowship at Yale University, and was an Epidemic Intelligence Service Officer at CDC.  He is the author of over 200 scientific publications.</p>

<h3>Press photo</h3>
<p><a href="/images/team/full/Frieden_Tom.jpg">Download</a> a full resolution photo of Dr. Tom Frieden.</p>