---
title: "Program management for epidemic preparedness"
section: "training"

nigeria:

    - name: Student Name
      title: Coordinator of Stuff
      location: Lagos
      user_name: user

    - name: Student Name
      title: Coordinator of Stuff
      location: Lagos
      user_name: user

    - name: Student Name
      title: Coordinator of Stuff
      location: Lagos
      user_name: user
---

<h1>Program management training for capacity building</h1>

<p class="intro">Resolve to Save Lives is launching a new 
initiative dedicated to building the capacity of mid-
level managers involved in the implementation of 
International Health Regulations in Africa.</p>

<div class="image-float">
    <a href="/images/PE_Application_v3_FORM.PDF">
        <img src="/images/resources/pmep-application.jpg" alt="PMEP PDF">
        Download the application form
    </a>
</div>

<p><span class="note">Note:</span> Applications for the first Program Management for Epidemic Preparedness course are currently closed. Please check back regularly for our next application period. </p>

<p>The <em>Program Management for Epidemic Preparedness</em> (PMEP) initiative is particularly focused on 
managers who oversee and implement the day-to-day 
activities involved in the implementation of the National 
Action Plans for Health Security (NAPHS). The aim of the training program is to ensure managers 
who are responsible for project management and 
implementation of NAPHS have the skills and abilities 
to successfully implement multi-sector, multi-partner 
programs that will enhance national capacity to stop, 
find and prevent public health threats.</p>
    
<p>This 12-month program will run March 2019 through 
February 2020 and will include face-to-face training 
as well as mentoring and coaching to ensure 
practical support that is directly applicable to real 
time implementation of the NAPHS.  It is designed to 
be immediately applicable to trainees’ roles in the 
following areas: program planning, partner coordination, 
monitoring and evaluation, budget and finance 
management, practical leadership skills and conducting 
effective trainings.</p>

<!--h3>Applications are open</h3>

<p>Applications are now open
 for the first cohort, which 
will be conducted in English. Applications will be 
accepted from teams or individuals who are nominated by national authorities overseeing the NAPHS process 
and can clearly demonstrate their role in supporting 
NAPHS planning and implementation. 
Communication and information for the French-
speaking cohort will be available in mid-2019.</p-->

<h2>Objectives of the PMEP initiative</h2>

<p>The implementation of NAPHS is a complex task. It 
involves 19 technical areas and the coordination of 
multiple government departments and implementing 
partners and donors. The effective and rapid 
implementation of NAPHS is critical to ensure countries 
are ‘Epidemic Ready’ and able to meet the challenges of 
the increasing risk of public health emergencies.</p>
<p>PMEP aims to support country implementation teams 
to effectively plan, implement and evaluate the diverse 
range of projects that are required to address gaps 
identified by the Joint External Evaluations or other 
assessment methodologies. 
The training aims to strengthen 
teams
 coordinating 
and overseeing the implementation of multiple projects 
within the NAPHS and ensure that progress against 
milestones are met.</p>

<div class="graph">
    <div class="image"><a href="/images/pmep-phases.png"><img src="/images/pmep-phases.png" alt=""></a><div class="caption">PMEP is a 12-month course</div></div>
</div>

<h2>Details</h2>

<h3>Methodologies of PMEP</h3>

<p>The PMEP will take place over 12 months and will include 
5, one-week face-to-face trainings. Between trainings, 
participants will have access to online learning, 
mentoring and coaching support.  The Resolve to Save 
Lives team will also be available to provide in-country 
support to teams that require additional help in 
    planning or implementing components of the NAPHS.</p>

<div class="image-float">
    <a href="/images/resources/PMEP_Fact_Sheet.pdf">
        <img src="/images/resources/pmep-factsheet.jpg" alt="PMEP Fact Sheet">
        PMEP Fact Sheet
    </a>
</div>

<p>After the 12-month training program is complete, 
country teams will have the opportunity to present roll-
out plans to replicate the training at the district or state 
level in support of the expansion of NAPHS projects. 
Resolve to Save Lives will support a limited number of proposals for 
implementation, ensuring that the training and capacity 
building is cascaded to the district or state level. </p>

<h3>Costs</h3>
<p>Resolve to Save Lives will cover all costs related to the training including 
travel, visa and accommodation. Per Diem for costs 
incurred during the training will also be provided. 
Payment for attending the training will not be provided. </p>

<h3>Content</h3>
<p>The training will be delivered by Resolve to Save Lives partner The 
Union. The Union has extensive experience in delivering 
program management and leadership courses 
across Africa. The Union’s International Management 
Development Programme (IMDP) has been running for 
many years and strengthens health systems by training 
and educating public health professionals in the specific 
management competencies that are essential for 
public health programs. The IMDP addresses challenges 
faced by national program managers and health 
administrators in limited-resource settings to help 
countries improve the management of health programs.</p>
<p>PMEP has adapted the IMDP to meet the specific 
challenges of planning and implementing NAPHS in low-
resources settings. </p>
<p>The following course objectives are illustrative examples 
of what PMEP will cover, however the programming will 
be adapted based on the experience and feedback of 
participants. </p>

<h2>Who should apply?</h2>
<div class="columns-2">
    <div class="column">
        <ul class="spaced">
            <li>Managers who are currently tasked with planning 
        implementing or supporting the NAPHS process. 
        This includes Ministry of Health, Agriculture or 
        Environment staff.</li>
        <li>
        Candidates who have at least 5 years of work 
        experience. </li>
            <li> 
        Available for 5 one-week face-to-face trainings, with 
        travel to East Africa (exact location to be announced). </li> 
        
        </ul>
    </div>
    <div class="column">
        <ul class="spaced">
        <li>
        2-4 candidates per country will be accepted,  
        so applying as a team is preferable.</li>
        <li>Candidates with the support from your line manager 
        and the agency tasked with overseeing the NAPHS 
        i.e. the One Health Platform or NAPHS coordination 
            committee.</li>
        <li>Proficient in English.</li>
        </ul>
    </div>
    
</div>
<div class="clear"></div>

<p><span class="button disabled">Applications are currently closed</span></p>

<p><span class="note">Note:</span> Applications for the first PMEP course are currently closed. Please check back regularly for our next application period. </p>
<!--p><a href="/images/PE_Application_v3_FORM.PDF" class="button">Download the application form (PDF)</a></p-->




<div class="resources">
    <h2>Resources</h2>
    
    <a href="/images/resources/PMEP_Fact_Sheet.pdf" class="document-link"><img src="/images/resources/pmep-factsheet.jpg" alt=""> PMEP Fact Sheet</a>
    
    <a href="/images/PE_Application_v3_FORM.PDF" class="document-link"><img src="/images/resources/pmep-application.jpg" alt=""> PMEP Application Form</a>
</div>