---
title: "Program management for epidemic preparedness"
section: "training"
---

<h1>Program management for epidemic preparedness</h1>

<p class="intro">Resolve to Save Lives is excited to launch a new 
initiative dedicated to building the capacity of mid-
level managers involved in the implementation of 
International Health Regulations in Africa.</p>

<p>This initiative is particularly focused on 
managers who oversee and implement the day-to-day 
activities involved in the implementation of the National 
Action Plans for Health Security (NAPHS).</p>

<p>The aim of the training program is to ensure managers 
who are responsible for project management and 
implementation of NAPHS have the skills and abilities 
to successfully implement multi-sector, multi-partner 
programs that will enhance national capacity to stop, 
find and prevent public health threats. 
This 12-month program will run March 2019 through 
February 2020 and will include face-to-face training 
as well as mentoring and coaching to ensure 
practical support that is directly applicable to real 
time implementation of the NAPHS.  It is designed to 
be immediately applicable to trainees’ roles in the 
following areas: program planning, partner coordination, 
monitoring and evaluation, budget and finance 
management, practical leadership skills and conducting 
effective trainings.</p>

<h2>Applications are open</h2>

<p>Applications are now open
 for the first cohort, which 
will be conducted in English. Applications will be 
accepted from teams or individuals who are nominated by national authorities overseeing the NAPHS process 
and can clearly demonstrate their role in supporting 
NAPHS planning and implementation. 
Communication and information for the French-
speaking cohort will be available in mid-2019.</p>

<h2>Objectives of PMEP</h2>

<p>The implementation of NAPHS is a complex task. It 
involves 19 technical areas and the coordination of 
multiple government departments and implementing 
partners and donors. The effective and rapid 
implementation of NAPHS is critical to ensure countries 
are ‘Epidemic Ready’ and able to meet the challenges of 
the increasing risk of public health emergencies.
PMEP aims to support country implementation teams 
to effectively plan, implement and evaluate the diverse 
range of projects that are required to address gaps 
identified by the Joint External Evaluations or other 
assessment methodologies. 
The training aims to strengthen 
teams
 coordinating 
and overseeing the implementation of multiple projects 
within the NAPHS and ensure that progress against 
milestones are met.</p>