---
title: "Eliminating artificial trans fat"
section: "transfat"
---

<h1>Artificial trans fat can be eliminated from the world by 2023</h1>

<p class="intro">Artificial  trans fat  is  a  harmful compound  that  increases  the  risk  of  heart  attack  and  death. It can be eliminated and replaced with healthier alternatives without altering taste or increasing cost.</p>

<p>Artificial trans fat is estimated to cause 540,000 deaths every year, globally. Elimination  of  artificial  trans fat  has  substantial  health  benefits. Eliminating the use of artificial trans fat in foods in Denmark reduced deaths from cardiovascular disease. In New York State, people living in counties with artificial trans fat restrictions were 6% less likely to be admitted to the hospital after suffering a heart attack or stroke.</p>

<div class="graph">
<div class="image">
    <a href="/images/transfat-graph.png">
        <img src="/images/transfat-graph.png" alt="The number of countries taking action is accelerating rapidly. At this pace global elimination of artificial trans fat is achievable by 2023.">
    </a>
</div>
</div>


<h2>Progress by region</h2>

<div class="columns columns-3 columns-regions">
    
    <div class="column">
        <img src="/images/region-na.png" style="width: 100%; margin: 32px 0 -16px 0;">
        <h3 style="margin-bottom: 0;">NORTH AMERICA</h3>
        <p style="margin-top: 0; padding-top: 0.5em;">In 2018, <strong>Canada</strong> and the <strong>US</strong> implemented nationwide
        bans on partially hydrogenated oils,
        the main source of industrially-produced
        trans fat.
        Canada and the US both require
        trans fat to be labeled on packaged food.</p>
        

        
    </div>
    
    <div class="column">
        <img src="/images/region-africa.png" style="width: 100%; margin: 32px 0 -16px 0;">
        <h3 style="margin-bottom: 0;">AFRICA</h3>
        <p style="margin-top: 0; padding-top: 0.5em;">
        <strong>South Africa</strong> has best practice mandatory limits on industrially-produced trans fat in foods, fats and oils since 2011.
        </p>
        

    </div>
    
    <div class="column">
        <img src="/images/region-asia.png" style="width: 100%; margin: 32px 0 -16px 0;">
        <h3 style="margin-bottom: 0;">ASIA</h3>
        <p style="margin-top: 0; padding-top: 0.5em;">
            In 2017, <strong>India</strong>
        implemented a
        mandatory limit of
        5% trans fat content
        in fats/oils only. <strong>Singapore</strong> has a mandatory limit of 2% trans fat content in fats/oils only.
            <strong>India</strong>, <strong>Singapore</strong>, <strong>Philippines</strong>, and the <strong>Republic of Korea</strong> require labeling of trans fat on packaged food. <strong>Thailand</strong> placed a ban on partially hydrogenated oils.</p>
        

        
    </div>
    
    <div class="clear"></div>
</div>

<div class="columns columns-3 columns-regions">
    
    <div class="column">
        
        <img src="/images/region-me.png" style="width: 100%; margin: 32px 0 -16px 0;">
        <h3 style="margin-bottom: 0;">THE MIDDLE EAST</h3>
        <p style="margin-top: 0; padding-top: 0.5em;"><strong>Iran</strong> (Islamic Republic of) has set a
        mandatory limit of 2% in cooking oils and 5%
        of fats/oils in other foods.
            <strong>Saudi Arabia</strong> limits the maximum content of
        vegetable oils and spreadable margarines to
        2% of the total fat, with a 5% limit of total fat
        content for all other foods.
        <strong>Bahrain</strong>, <strong>Israel</strong>, <strong>Jordan</strong>, <strong>Kuwait</strong>, <strong>Oman</strong>, <strong>Qatar</strong>, <strong>Saudi Arabia</strong>, and <strong>UAE</strong> require labeling of trans fat on packaged foods.</p>
        
    </div>
    
    <div class="column">
        
        <img src="/images/region-sa.png" style="width: 100%; margin: 32px 0 -16px 0;">
        <h3 style="margin-bottom: 0;">CENTRAL/SOUTH AMERICA</h3>
        <p style="margin-top: 0; padding-top: 0.5em;"><strong>Argentina</strong>, <strong>Chile</strong>, <strong>Colombia</strong>, <strong>Ecuador</strong>, <strong>Peru</strong>, and <strong>Uruguay</strong> have set limits for industrially-produced trans fat in fats/oils (2%), which in Chile applies to all foods and the others have 5% limits applying to other foods.</p>
    </div>
    
    <div class="column">
        
        <img src="/images/region-europe.png" style="width: 100%; margin: 32px 0 -16px 0;">
        <h3 style="margin-bottom: 0;">EUROPE</h3>
        <p style="margin-top: 0; padding-top: 0.5em;"><strong>Austria</strong>, <strong>Denmark</strong>, <strong>Hungary</strong>, <strong>Iceland</strong>, <strong>Latvia</strong>, <strong>Norway</strong> and <strong>Slovenia</strong> have set best practice mandatory limits of industrially-produced trans fat that apply to all foods (2% of fats/oils). <strong>Switzerland</strong> and <strong>Uzbekistan</strong>  have a 2% limit in fats/oils only. In 2018, a technical regulation entered into force in <strong>Armenia</strong>, <strong>Belarus</strong>, <strong>Kazakhstan</strong>, <strong>Kyrgyzstan</strong>, and <strong>Russian Federation</strong> limiting trans fat to 2% of total fat content in fats/oils.</p>
        
    </div>
    
    <div class="clear"></div>
</div>

<h2>What we're doing</h2>

<p>We support the World Health Organization's <a href="https://www.who.int/nutrition/topics/replace-transfat">REPLACE action package</a>, the world's first action package that provides a step-by-step guide for the elimination of industrially-produced trans fat from the global food supply.</p>

<p>Resolve to Save Lives works with local, national, and global governments to help scale up proven strategies to reduce and eliminate exposure to artificial  trans fats and increase the availability of healthier alternatives. This can be done through mandatory labeling limits and restrictions.</p>

<p>We are funding efforts to assess levels of artificial trans fat in the food supply as well as people's exposure. Our ultimate goal is to completely eliminate the use of artificial trans fats throughout the world.</p>

<div class="resources">
    <a href="/images/resources/REPLACE_Module-1-RE.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-1-RE.jpg" alt="REPLACE Module 1: REview"> </a>
    
    <a href="/images/resources/REPLACE_Module-2-P.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-2-P.jpg" alt="REPLACE Module 2: Promote"> </a>
    
    <a href="/images/resources/REPLACE_Module-3-L.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-3-L.jpg" alt="REPLACE Module 3: Legislate or regulate"> </a>
    
    <a href="/images/resources/REPLACE_Module-4-A.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-4-A.jpg" alt="REPLACE Module 4: Assess"> </a>
    
    <a href="/images/resources/REPLACE_Module-5-C.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-5-C.jpg" alt="REPLACE Module 5: Create"> </a>
    
    <a href="/images/resources/REPLACE_Module-6-E.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-6-E.jpg" alt="REPLACE Module 6: Enforce"> </a>
</div>

<h2>Argentina's success</h2>

<p>Argentina’s journey from using industrially-produced trans fats to improving heart health began in 1990. Researchers turned their attention to the country’s high rate of heart disease, seeking causes and solutions.</p>

<p>As global awareness grew on trans fats’ role in cardiovascular diseases, health officials knew they had to take a stand. Partnerships formed between the agricultural and health ministries, the business and consumer sectors, and academia.The Government’s final decision to adopt a mandatory approach helped the country virtually rid its food of industrially-produced trans fats by 2014.</p>

<p>Cardiovascular diseases are Argentina’s main cause of death, and trans fat elimination is seen as having the biggest potential impact on the general population.</p>

<p>“Eliminating trans fat is a priority for the entire region,” says Dr. Fabio Gomes, Regional Nutrition Advisor at the Pan American Health Organization (PAHO), the Regional Office of the Americas for WHO. “Reducing trans fat consumption by just 2% to 4% of total calories could prevent an estimated 30 000 to 225 000 heart attacks in Latin America and the Caribbean.”</p>

<p>The work has paid off. A 2015 study published in the WHO Bulletin estimated that anywhere from 301 to 1517 cardiac deaths per year were averted by eliminating industrially-produced trans fats in Argentina<sup>1</sup>.  The study also found that replacing industrially-produced trans fat will save between US$17 million and $87 million in healthcare costs annually.</p>

<p>Several factors were in Argentina’s favor, including the availability of plant-based alternative fats enabled by increased production of sunflower oil high in oleic acid.</p>

<div class="graph">
<div class="image">
    <img src="/images/medialunas.jpg" alt=""> 
</div>
<div class="caption">Medialunas, a traditional and popular baked good throughout Argentina. These are now trans fat free. (image: CC <a href="https://www.flickr.com/photos/davidw/1369276138">davidw</a>)</div>
</div>


<p>In 1990, La Plata National University, the Buenos Aires Scientific Investigations Commission, and the Buenos Aires Health Ministry began studying the high incidence of coronary death. Companies began investigating and using industrial trans fat alternatives, including interesterified vegetable oils (saturated and unsaturated vegetable oils blended to increase the melting point); semisolid fats comprised of milk-fat fractions and sunflower oil; and stearins of different melting points derived from modified sunflower oil.</p>

<p>While trans fat labeling became mandatory in 2006, limiting them in food was voluntary until 2008, with some companies already substituting other fats.</p>

<p>In 2008, the PAHO-backed Trans Fat Free Americas Declaration called for limiting industrially-produced trans fat to less than 2% of total fat in oils and margarines, and less than 5% of total fat in other foods. The declaration recommended mandatory labeling of trans fat content in foods, standardized across the Americas, and when possible, replacement with unsaturated fats.</p>

<p>The Argentine Commission for the Elimination of Trans Fats was formed soon after. The Ministry of Health brought together consumer groups, academia and the food industry, as well as:</p>
<ul>
    <li>the National Institute of Nutrition (part of the health ministry),</li>
    <li>the National Institute of Industrial Technology (part of the Ministry of Economics),</li>
    <li>the Ministry of Agribusiness, and</li>
    <li>the Argentinian Association of Fats and Oils.</li>
</ul>
<p>Three inter-agency subgroups were created, leading to changes in 2010 in the Argentinian food code, el Código Alimentario Argentino (CAA), and a new guide for small and medium businesses on how to replace industrially-produced trans fats. The CAA amendments established deadlines for industry to comply with the limits: two years to meet the 2% limit of industrially-produced trans fats in margarines and vegetable oils, and approximately five years for the 5% limit in other products. By 2014 the code was almost fully implemented.</p>

<p>The efforts met little resistance because the changes were easy and inexpensive. By 2014, most companies were complying. A study found 73% of the food products screened were in compliance by 2014, with overall compliance rising to 93% by 2015.</p>

    <p>Dr. Fabio Gomes describes Argentina’s approach to eliminating trans fat as "innovative and pioneering".  He notes the Government managed to “take the lead in enacting a mandatory approach towards the virtual elimination of trans fats from the food system." “This model is inspiring other countries," he adds.</p>


<div class="resources">
    <h2>Resources</h2>
    
    <a href="/images/resources/REPLACE_Module-1-RE.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-1-RE.jpg" alt=""> REPLACE Module 1: REview</a>
    
    <a href="/images/resources/REPLACE_Module-2-P.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-2-P.jpg" alt=""> REPLACE Module 2: Promote</a>
    
    <a href="/images/resources/REPLACE_Module-3-L.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-3-L.jpg" alt=""> REPLACE Module 3: Legislate or regulate</a>
    
    <a href="/images/resources/REPLACE_Module-4-A.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-4-A.jpg" alt=""> REPLACE Module 4: Assess</a>
    
    <a href="/images/resources/REPLACE_Module-5-C.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-5-C.jpg" alt=""> REPLACE Module 5: Create</a>
    
    <a href="/images/resources/REPLACE_Module-6-E.pdf" class="document-link"><img src="/images/resources/REPLACE_Module-6-E.jpg" alt=""> REPLACE Module 6: Enforce</a>
    
    <a href="/images/resources/REPLACE-Global-Progress-Report.pdf" class="document-link"><img src="/images/resources/REPLACE-Global-Progress-Report.jpg" alt=""> REPLACE Global Progress Report</a>
    
    <a href="/images/resources/REPLACE-global-progress-report-executive-summary.pdf" class="document-link"><img src="/images/resources/REPLACE-global-progress-report-executive-summary.jpg" alt=""> WHO REPORT: Countdown to 2023: REPLACE Progress Report Executive Summary</a>
    
    <a href="/images/resources/REPLACE_2019-press-release.pdf" class="document-link"><img src="/images/resources/REPLACE_2019-press-release.jpg" alt=""> Press Release on REPLACE: 22 May, 2019</a>
    
    <a href="https://www.dropbox.com/s/nz9xdm7bgfdq2ju/WHO%20REPLACE%20action%20package.pdf?dl=0" class="document-link"><img src="/images/resources/thumb-replace.jpg" alt=""> REPLACE Technical Package</a>
    
    <a href="https://www.dropbox.com/s/5qehzlpqmlgbios/REPLACE_Commentary_Lancet.pdf?dl=0" class="document-link"><img src="/images/resources/thumb-lancet-transfat.jpg" alt=""> REPLACE: a roadmap to make the world trans fat free by 2023 (The Lancet)</a>
    
    <a href="https://www.dropbox.com/s/21629fchp9luk7z/REPLACE_FAQs.pdf?dl=0" class="document-link"><img src="/images/resources/thumb-replace-faq.jpg" alt=""> REPLACE: Frequently Asked Questions</a>
    
    <a href="https://www.dropbox.com/s/56d2b2uiuk8z3nb/Resolve_Factsheet_TFA.pdf?dl=0" class="document-link"><img src="/images/resources/thumb-transfat-factsheet.jpg" alt=""> Eliminating Trans Fat One-Page Factsheet</a>
    
    <a href="https://www.dropbox.com/s/1c9s3r0iv4ut3ap/Trans%20Fat%20Elimination%20Annotated%20Bibliography.PDF?dl=0" class="document-link"><img src="/images/resources/thumb-transfat-bibliography.jpg" alt=""> Eliminating Trans Fat Annotated Bibliography</a>
    
     <a href="/images/resources/rtsl-joint-letter-to-companies-5-2019.pdf" class="document-link"><img src="/images/resources/rtsl-joint-letter-to-companies-5-2019.jpg" alt=""> Joint letter to companies to eliminate artificial trans fat</a>
    
</div>

<div class="references">
    <h3>References</h3>
    <ol class="footnotes">
        <li>Rubinstein, Adolfo, et al. "Eliminating artificial trans fatty acids in Argentina: estimated effects on the burden of coronary heart disease and costs." Bulletin of the World Health Organization 93 (2015): 614-622.</li>
    </ol>
</div>